@import 'foundation/colors';
@import 'foundation/shadows';
@import 'foundation/spacing';
@import 'foundation/borders';
@import 'foundation/border-radius';
@import 'foundation/duration';
@import 'foundation/easing';

$arrow-size: rem(14px);

.abovePopover {
  margin: spacing(tightest) spacing() spacing();
  opacity: 1;
  box-shadow: shadow(deep);
  border-radius: border-radius();
  will-change: opacity, left, top;
  transition: opacity duration() easing(in);
}
.rightPopover {
  margin: spacing(tightest) spacing();
  opacity: 1;
  box-shadow: shadow(deep);
  border-radius: border-radius();
  will-change: opacity, left, top;
  transition: opacity duration() easing(in);
}
.belowPopover {
  margin: spacing(tightest) spacing() spacing();
  opacity: 1;
  box-shadow: shadow(deep);
  border-radius: border-radius();
  will-change: opacity, left, top;
}
.leftPopover {
  margin: spacing() spacing() spacing() spacing(tightest);
  opacity: 1;
  box-shadow: shadow(deep);
  border-radius: border-radius();
  will-change: opacity, left, top;
  transition: opacity duration() easing(in);
}

.measuring {
  opacity: 0;
}

.positionedAbove {
  margin: spacing() spacing() spacing(tightest);

  .tip {
    top: inherit;
    bottom: 0;
  }
}

.light {
  .wrapper {
    background: color(ink);
    color: color(white);
  }

  .tip {
    background: color(ink);
  }
}

.wrapper {
  position: relative;
  display: flex;
  background-color: color(white);
  border-radius: border-radius();
  color: color(ink);
  margin-top: 10px;
}

.content {
  position: relative;
  margin-top: spacing(tightest);
  border-radius: border-radius();
}

.tip {
  position: absolute;
  transform: translateX(-50%) rotate(45deg);
  height: $arrow-size;
  width: $arrow-size;
  background: color(white);
  box-shadow: shadow(deep);
  border-radius: calc( #{border-radius()} - 1 );
}

.label {
  padding: 0 spacing(tighter) spacing(tightest);
}
