@import 'foundation/colors';
@import 'foundation/duration';
@import 'foundation/easing';
@import 'foundation/shadows';
@import 'foundation/spacing';
@import 'foundation/borders';
@import 'foundation/border-radius';
@import 'foundation/utilities';
@import 'shared/accessibility';

$arrow-size: rem(14px);
$visible-portion-of-arrow: rem(5px);
$content-max-height: rem(295px);
$content-max-width: rem(400px);

$white: #fff !default;
$black: #000 !default;
$gray-100: #f8f9fa !default;
$gray-200: #dfe3e8 !default;
$gray-600: #6c757d !default;
$gray-900: #212529 !default;
$dropdown-link-hover-color: #2eb5e2 !default;
$border-radius: .25rem !default;
$border-width: 1px !default;
$component-active-color: #424242 !default;
$enable-gradients: false !default;
$dropdown-min-width: 10rem !default;
$dropdown-padding-y: .5rem !default;
$dropdown-spacer: .125rem !default;
$dropdown-bg: $white !default;
$dropdown-border-color: rgba($black, .15) !default;
$dropdown-border-radius: $border-radius !default;
$dropdown-border-width: $border-width !default;
$dropdown-divider-bg: $gray-200 !default;
$dropdown-box-shadow: 0 .5rem 1rem rgba($black, .175) !default;
$dropdown-link-color: $gray-900 !default;
$dropdown-link-hover-color: darken($gray-900, 5%) !default;
$dropdown-link-hover-bg: $gray-100 !default;
$dropdown-link-active-color: $component-active-color !default;
$dropdown-link-active-bg: #f4f6f8 !default;
$dropdown-link-disabled-color: $gray-600 !default;
$dropdown-item-padding-y: 1rem !default;
$dropdown-item-padding-x: 1.6rem !default;
$dropdown-header-color: $gray-600 !default;
$zindex-dropdown: 1000 !default;
$font-size-base: 1rem !default;
$font-size-sm: ($font-size-base * .875) !default;
$body-color: #212529 !default;
$font-weight-normal: 400 !default;

@mixin gradient-bg($color) {
  @if $enable-gradients {
    background: $color linear-gradient(180deg, mix($body-bg, $color, 15%), $color) repeat-x;
  } @else {
    background-color: $color;
  }
}

.dropdownDivider {
  border-bottom: 1px solid $dropdown-divider-bg;
}

.dropdownItem {
  display: block;
  width: 100%;
  padding: $dropdown-item-padding-y $dropdown-item-padding-x;
  font-weight: $font-weight-normal;
  color: $dropdown-link-color;
  text-align: justify;
  white-space: nowrap;
  background-color: transparent;
  font-size: 14px;

  &:hover {
    color: $dropdown-link-active-color;
    text-decoration: none;
    @include gradient-bg($dropdown-link-active-bg);
    cursor: pointer;
  }

  &.active,
  &:active {
    color: $dropdown-link-active-color;
    text-decoration: none;
    @include gradient-bg($dropdown-link-active-bg);
  }

  &.disabled,
  &:disabled {
    color: $dropdown-link-disabled-color;
    background-color: transparent;
    &:hover{
      cursor: default;
    }
  }
}

.dropdownHeader {
  display: block;
  padding: $dropdown-padding-y $dropdown-item-padding-x;
  margin-bottom: 0;
  font-size: $font-size-sm;
  color: $dropdown-header-color;
  white-space: nowrap; 
}
