@import 'foundation/colors';
@import 'foundation/duration';
@import 'foundation/easing';
@import 'foundation/shadows';
@import 'foundation/spacing';
@import 'foundation/borders';
@import 'foundation/border-radius';
@import 'foundation/utilities';
@import 'shared/accessibility';

$arrow-size: rem(14px);
$visible-portion-of-arrow: rem(5px);
$content-max-height: rem(295px);
$content-max-width: rem(400px);

$white: #fff !default;
$black: #000 !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-600: #6c757d !default;
$gray-900: #212529 !default;
$dropdown-link-hover-color: lightblue !default;
$border-radius: .25rem !default;
$border-width: 1px !default;
$component-active-color: $gray-600 !default;
$enable-gradients: false !default;
$component-active-bg: theme-color("primary") !default;
$dropdown-min-width: 10rem !default;
$dropdown-padding-y: .5rem !default;
$dropdown-spacer: .125rem !default;
$dropdown-bg: $white !default;
$dropdown-border-color: rgba($black, .15) !default;
$dropdown-border-radius: $border-radius !default;
$dropdown-border-width: $border-width !default;
$dropdown-divider-bg: $gray-200 !default;
$dropdown-box-shadow: 0 .5rem 1rem rgba($black, .175) !default;
$dropdown-link-color: $gray-900 !default;
$dropdown-link-hover-color: darken($gray-900, 5%) !default;
$dropdown-link-hover-bg: $gray-100 !default;
$dropdown-link-active-color: $component-active-color !default;
$dropdown-link-active-bg: $component-active-bg !default;
$dropdown-link-disabled-color: $gray-600 !default;
$dropdown-item-padding-y: .25rem !default;
$dropdown-item-padding-x: 1.5rem !default;
$dropdown-header-color: $gray-600 !default;
$zindex-dropdown: 1000 !default;
$font-size-base: 1rem !default;
$font-size-sm: ($font-size-base * .875) !default;
$body-color: #212529 !default;
$font-weight-normal: 400 !default;

@mixin gradient-bg($color) {
  @if $enable-gradients {
    background: $color linear-gradient(180deg, mix($body-bg, $color, 15%), $color) repeat-x;
  } @else {
    background-color: $color;
  }
}

.dropup,
.dropright,
.dropdown,
.dropleft {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: $zindex-dropdown;
  display: none;
  float: left;
  min-width: $dropdown-min-width;
  padding: $dropdown-padding-y 0;
  margin: $dropdown-spacer 0 0; 
  font-size: $font-size-base; 
  color: $body-color;
  text-align: left; 
  list-style: none;
  background-color: $dropdown-bg;
  background-clip: padding-box;
  border: $dropdown-border-width solid $dropdown-border-color;
}

.dropup {
  .dropdownMenu {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: $dropdown-spacer;
  }
}

.dropright {
  .dropdownMenu {
    top: 0;
    right: 0;
    left: auto;
    margin-top: 0;
    margin-left: $dropdown-spacer;
  }

  .dropdown-toggle {
    &::after { 
      vertical-align: 0;
    }
  }
}

.dropleft {
  .dropdownMenu {
    top: 0;
    right: 100%;
    left: auto;
    margin-top: 0;
    margin-right: $dropdown-spacer;
  }

  .dropdown-toggle {
    &::before {
      vertical-align: 0;
    }
  }
}

.dropdownMenu {
  &[x-placement^="top"],
  &[x-placement^="right"],
  &[x-placement^="bottom"],
  &[x-placement^="left"] {
    right: auto;
    bottom: auto;
  }

  &.active,
  &:active {
    display: block;
  }
}

// Dividers (basically an `<hr>`) within the dropdown
// .dropdownDivider {
//   @include nav-divider($dropdown-divider-bg); sk
// }

.dropdownItem {
  display: block;
  width: 100%;
  padding: $dropdown-item-padding-y $dropdown-item-padding-x;
  clear: both;
  font-weight: $font-weight-normal;
  color: $dropdown-link-color;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;

  &:hover {
    color: $dropdown-link-hover-color;
    text-decoration: none;
  }

  &.active,
  &:active {
    color: $dropdown-link-active-color;
    text-decoration: none;
    @include gradient-bg($dropdown-link-active-bg);
  }

  &.disabled,
  &:disabled {
    color: $dropdown-link-disabled-color;
    background-color: transparent;
  }
}