$item-min-size: rem(220px);

.formLayout {
  margin-top: -1 * spacing();
  margin-left: -1 * spacing(loose);
}

.condensed .item {
  flex-basis: (0.5 * $item-min-size);
  min-width: (0.5 * $item-min-size);
}

.title {
  margin-bottom: -1 * spacing(tighter);
  padding: spacing() spacing(loose) 0;
}

.items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.helpText {
  @include text-emphasis-subdued;
  padding: spacing(tighter) spacing(loose) 0;
}

.item {
  flex: 1 1 $item-min-size;
  margin-top: spacing();
  margin-left: spacing(loose);
  min-width: $item-min-size;
  max-width: calc(100% - #{spacing(loose)});
}
