.appHeader {
  background: #212B36;
  position: fixed;
  padding: 10px;
  color: #FFF;
  width: 100%;
  top: 0;
  z-index: 400;
  min-height: 68px;
}
.rChild {
  margin-left: auto;
  display: flex;
}
