.appHeader {
  background: #212B36;
  position: fixed;
  padding: .8rem;
  color: #FFF;
  width: 100%;
  top: 0;
  z-index: 400;
  // min-height: 68px;
  height: 5.2rem;
}

.searchBar {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.rChild {
  margin-left: auto;
  display: flex;
}

@media (max-width: $breakpoint-medium) {
  .appHeader {
    height: 9.6rem;
    .searchBar {
      position: absolute;
      bottom:1rem;
      width: calc(100% - 16px)
    }
  }
}