.appHeader {
  background: #212B36;
  position: fixed;
  padding: 8px;
  color: #FFF;
  width: 100%;
  top: 0;
  z-index: 400;
  // min-height: 68px;
  height: 52px;
}

.searchBar {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.rChild {
  margin-left: auto;
  display: flex;
}

@media (max-width: $breakpoint-medium) {
  .appHeader {
    height: 96px;
    .searchBar {
      position: absolute;
      bottom:10px;
      width: calc(100% - 16px)
    }
  }
}