.Wrapper {
    padding: 0 15px;
}
.Content {
    clear: both;
}
.Nav {
    clear: both;
}
.NavHeader {
    float: left;
}
.NavHeader span {
    font-size: 25px;
}
.NavMenu {
    float: right;
}
.NavMenu ul {
    padding-bottom: 0;
    margin-bottom: 0;
}
.NavMenu li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;    
}
