@import 'foundation/colors';
@import 'foundation/spacing';
@import 'foundation/utilities';

$height: rem(20px);
$horizontal-padding: ($height / 2);

$pip-size: rem(10px);
$pip-spacing: ($height - $pip-size) / 2;

$spinner-size: rem(14px);
$spinner-spacing: ($height - $spinner-size - rem(4px)) / 2;

$icon-size: rem(14px);
$icon-spacing: ($height - $icon-size - rem(4px)) / 2;

$stacking-order: (
  icon: 1,
);


@mixin pip-color($color) {
  .pip {
    color: $color;
  }
}

.badge {
  @include pip-color(color(ink, lightest));
  display: inline-block;
  padding: 0 ($horizontal-padding - rem(2px));
  background-color: color(sky);
  border: rem(2px) solid color(sky);
  border-radius: $height;
  font-size: rem(13px);
  line-height: ($height - rem(4px));
  color: color(ink);
  z-index: z-index(icon, $stacking-order); 
  width: initial;
  height: 2rem;
}

.statusSuccess {
  @include pip-color(color(green, dark));
  background-color: color(green, light);
  border-color: color(green, light);
}

.statusInfo {
  @include pip-color(color(blue, dark));
  background-color: color(blue, light);
  border-color: color(blue, light);
}

.statusAttention {
  @include pip-color(color(yellow, dark));
  background-color: color(yellow, light);
  border-color: color(yellow, light);
}

.statusWarning {
  @include pip-color(color(orange, dark));
  background-color: color(orange, light);
  border-color: color(orange, light);
}

.statusNew {
  @include pip-color(color(yellow, light));
  background-color: color(white);
  border-color: color(yellow, light);
}

.statusDraft {
  @include pip-color(color(yellow, dark));
  background-color: color(yellow, light);
  border-color: color(yellow, light);
}

.statusWorking {
  @include pip-color(color(blue, dark));
  background-color: color(blue, light);
  border-color: color(blue, light);
}

.statusPublished {
  @include pip-color(color(green, dark));
  background-color: color(green, light);
  border-color: color(green, light);
}

.statusArchive {
  @include pip-color(color(ink, lightest));
  background-color: color(white);
  border-color: color(sky);
}

.statusArchived {
  @include pip-color(color(ink, lightest));
  background-color: color(sky);
  border-color: color(sky);
}

.statusDelete {
  @include pip-color(color(red, dark));
  background-color: color(white);
  border-color: color(red, light);
}

.statusDeleted {
  @include pip-color(color(red, dark));
  background-color: color(red, light);
  border-color: color(red, light);
}

.statusLocked {
  @include pip-color(color(ink, lightest));
  background-color: color(sky, light);
  border-color: color(sky, light);
}

.progressIncomplete .pip {
  background: transparent;
}

.progressPartiallyComplete .pip {
  background: linear-gradient(to top, currentColor, currentColor 50%, transparent 50%, transparent);
}

.progressComplete .pip {
  background: currentColor;
}

.pip {
  height: $pip-size;
  width: $pip-size;
  display: inline-block;
  margin: 0 spacing(tightest) 0 ($pip-spacing - $horizontal-padding);
  border: rem(2px) solid currentColor;
  border-radius: 50%;
}

.iconWrapper {
  height: $icon-size;
  width: $icon-size;
  display: inline-block;
  vertical-align: top;
  margin: $icon-spacing $icon-spacing 0 ($icon-spacing - $horizontal-padding + rem(2px));
}

.working {
  height: $spinner-size;
  width: $spinner-size;
  display: inline-block;
  vertical-align: top;
  margin: $spinner-spacing $spinner-spacing 0 ($spinner-spacing - $horizontal-padding + rem(2px));
  animation: spin duration(basespin) linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
