$border-color: #eceeef;
$backrgound-color: #F9FAFB;

$stacking-order: ( 
    input: 20, 
    backdrop: 10, 
    spinner: 30, 
    icons: 30
);

.comboboxContainer {
    position: relative;
}

.accordionItemHeader {
    display: flex;
    background: $backrgound-color;
    padding: 1.4rem 2.7rem;
    border-bottom: 1px solid $border-color;
    color: #616161;
    .headerText {
        margin-left: 1.6rem;
    }
}

.itemContainer {
    padding: 0 11px;
}

.comboboxItem,
.accordionItem {
    padding: 1.4rem 1.6rem;
    border-bottom: 1px solid $border-color;
    &.accordionItem {
        margin: 0 1.1rem;
        &:last-child {
            padding: 1.4rem 2.7rem;
            margin: 0;
        }
    }
    &.comboboxItem:last-child {
        border-bottom: none;
    }
}

.comboboxContainer .comboboxArrow {
    position: absolute;
    right: 1.4rem;
    top: 1.4rem;
   z-index: z-index(backdrop, $stacking-order);
}

.active {
    background-color: color(sky, light);
    animation: mymove 2s;
}

.comboboxContainer {
    &.comboboxFullWidthOptions {
      div[class*="PositionedOverlay"] {
        margin-left: unset !important;
        width: 100%;
        div[class*="abovePopover"],
        div[class*="belowPopover"] {
          padding: 0;
          margin: 0;
          div[class*="tip"] {
            left: 50%;
            margin-left: unset !important;
          }
          & > div {
            & > div {
              width: 100%;
            }
          }
        }
      }
    }
  }

@keyframes myMove {
    from {opacity: 0px;}
    to {opacity: 1;}
  }