$border-color: #eceeef;
$backrgound-color: #F9FAFB;

$stacking-order: ( 
    input: 20, 
    backdrop: 10, 
    spinner: 30, 
    icons: 30
);

.comboboxContainer {
    position: relative;
}

.accordionItemHeader {
    display: flex;
    background: $backrgound-color;
    padding: 14px 27px;
    border-bottom: 1px solid $border-color;
    color: #616161;
    .headerText {
        margin-left: 16px;
    }
}

.itemContainer {
    padding: 0 11px;
}

.comboboxItem,
.accordionItem {
    padding: 14px 16px;
    border-bottom: 1px solid $border-color;
    &.accordionItem {
        margin: 0 11px;
        &:last-child {
            padding: 14px 27px;
            margin: 0;
        }
    }
    &.comboboxItem:last-child {
        border-bottom: none;
    }
}

.comboboxContainer .comboboxArrow {
    position: absolute;
    right: 14px;
    top: 14px;
   z-index: z-index(backdrop, $stacking-order);
}