@import './Common';

@mixin floatRight($top, $right) {
  position: absolute;
  right: $right;
  top: $top;
}
$dropdown-item-padding-y: 1rem !default;
$dropdown-item-padding-x: 1.6rem !default;

.loginButton {
  color: white !important;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  @include floatRight(20px, 20px);
  height:32px;
  width:32px;
}

.loginUser {
  border-radius: 50% !important;
  width: 0 !important;
}

.signOut {
  color: theme-color(m-grey, 900) !important;
  position: relative;
  z-index: 20;
  display:block;
  margin: (-$dropdown-item-padding-y) (-$dropdown-item-padding-x);
  padding: $dropdown-item-padding-y $dropdown-item-padding-x;
}

.loginContainer {
  @include floatRight(10px, 12px)
}
