
$low: #00C853;
$med: #FF6D00;
$high: #D50000;

$fontSize: 14px;

.statusContainer {
  .status {
    font-weight: 600;
    font-size: $fontSize;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.timelineContainer {
  .timeline {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $fontSize;
    font-weight: 600;
  }
}

.commentContainer {
  :hover {
    cursor: pointer;
  }
  .commentCount {
    
  }
}

.chipData {
  padding-left: 12px;
  color: #424242;
  font-size: $fontSize;
}

.priorityContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $fontSize;
  font-weight: bold;
}

.drawerStyle {
  background: #FFFFFF;
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.12);
}

:export {
  low: $low;
  med: $med;
  high: $high;
}
