$activeProcess: color(blue);
$comleteProcess: color(blue);
$upcomingProcess: color(ink, lighter);

.processTracker {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  li {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
  }
}

.processBar {
  flex: 1 1 auto;
  top: 1rem;
  left: calc(-50% + 2.3rem);
  right: calc(50% + 2.3rem);
  position: absolute;
}

.processDivider {
  display: block;
  border-top: 0.2rem;
  border-top-style: solid;
}

.processItem {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.processIndex {
  color: #fff;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  display: block;
  height: 2.2rem;
  min-width: 2.2rem;
  border-radius: 50%;
  position: relative;
  margin-bottom: 0px;
}

.processLabel {
  text-align: center;
  display: block;
  margin-top: 0.8rem;
}

.active {
  .processIndex {
    background-color: $activeProcess;
  }
  .processDivider {
    border-color: $activeProcess;
    opacity: 0.6;
  }
}

.completed {
  .processIndex {
    background-color: $comleteProcess;
    opacity: 0.6;
  }
  .processLabel {
    opacity: 0.6;
  }
  .processDivider {
    border-color: $comleteProcess;
    opacity: 0.6;
  }
}

.upcoming {
  .processIndex {
    background-color: $upcomingProcess;
    opacity: 0.6;
  }
  .processLabel {
    opacity: 0.6;
  }
  .processDivider {
    border-color: $upcomingProcess;
    opacity: 0.6;
  }
}