.progtrckr {
  margin: 0;
  list-style-type: none;
  display: flex;

  li {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    &.active {
      .processIndex {
        color: #fff;
        background-color: #33C3F0;
      }

      .processDivider {
        border-top: 2px solid #33C3F0;
      }
    }

    &.completed {
      .processIndex {
        color: #fff;
        background-color: #33C3F0;
      }

      .processDivider {
        border-top: 2px solid #33C3F0;
      }
    }

    &.upcoming {
      .processIndex {
        color: #000;
        background-color: #CCC;
      }

      .processDivider {
        border-top: 2px solid #ccc;
      }
    }
    
    .processBar {
      display: flex;
      flex-grow: 1;
      flex-wrap: wrap;

      .processIndex {
        border-radius: 50%;
        font-weight: normal;
        font-weight: normal;
        font-size: 12px;
        position: relative;
        bottom: 1px;
        text-align: center;
        margin-bottom: 0px;
        flex: 0 0 20px;
        max-width: 20px;
      }

      .processDivider {
        display: inline-block;
        height: 1px;
        position: relative;
        left: 3%;
        top: 8px;
        flex: 0 0 85%;
        max-width: 85%;
      }
    }
  }
}

// ul.progtrckr {
//   margin: 0;
//   list-style-type: none;
// }
// ul.progtrckr li {
//   position: relative;
//   display: inline-block;
//   text-align: center;
// }
// @media (max-width: 650px) {
//   .progtrckr li label {
//     display: none;
//   }
// }
// .progtrckr span {
//   position: absolute;
//   display: inline-block;
//   padding: 1px 8px;
//   border-radius: 50%;
//   background: silver;
//   font-size: 11px;
//   top: 50%;
// }
// @media (max-width: 650px) {
//   .progtrckr em {
//     display: inline;
//   }
// }

// ul.progtrckr li.progtrckrtodo {
//   color: black;
//   border-bottom: 4px solid silver;
// }
// ul.progtrckr li.progtrckrdoing {
//   color: black;
//   border-bottom: 4px solid silver;
// }
// ul.progtrckr li.progtrckrdone {
//   color: black;
//   border-bottom: 4px solid #33C3F0;
// }
// // ul.progtrckr li:after {
// //   content: "\00a0\00a0";
// // }
// ul.progtrckr li:before {
//   position: relative;
//   bottom: -3.7rem;
//   float: left;
// }
// // ul.progtrckr li.progtrckrtodo:before {
// //   content: "\039F";
// //   color: silver;
// //   background-color: white;
// //   width: 1.2em;
// //   line-height: 1.4em;
// // }
// ul.progtrckr li.progtrckrtodo:hover:before {
//   color: #0FA0CE;
// }

// // ul.progtrckr li.progtrckrdoing:before {
// //   content: "1";
// //   color: white;
// //   background-color: #33C3F0;
// //   width: 1.2em;
// //   line-height: 1.2em;
// //   border-radius: 1.2em;
// // }
// ul.progtrckr li.progtrckrdoing:hover:before {
//   color: #0FA0CE;
// }

// // ul.progtrckr li.progtrckrdone:before {
// //   content: "\2713";
// //   color: white;
// //   background-color: #33C3F0;
// //   width: 1.2em;
// //   line-height: 1.2em;
// //   border-radius: 1.2em;
// // }

// ul.progtrckr li.progtrckrdone:hover:before {
//   color: #0FA0CE;
// }
