$greyProcess: #CCC;
$blueProcess: #33C3F0;

.progtrckr {
  margin: 0;
  list-style-type: none;
  display: flex;

  li {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    &.active {
      .processIndex {
        color: #fff;
        background-color: $blueProcess;
      }

      .processDivider {
        border-top: 2px solid $greyProcess;
      }
    }

    &.completed {
      .processIndex {
        color: #fff;
        background-color: $blueProcess;
      }

      .processDivider {
        border-top: 2px solid $blueProcess;
      }
    }

    &.upcoming {
      .processIndex {
        color: #000;
        background-color: $greyProcess;
      }

      .processDivider {
        border-top: 2px solid $greyProcess;
      }
    }
    
    .processBar {
      display: flex;
      flex-grow: 1;
      flex-wrap: wrap;

      .processIndex {
        border-radius: 50%;
        font-weight: normal;
        font-weight: normal;
        font-size: 12px;
        position: relative;
        bottom: 1px;
        text-align: center;
        margin-bottom: 0px;
        flex: 0 0 20px;
        max-width: 20px;
      }

      .processDivider {
        display: inline-block;
        height: 1px;
        position: relative;
        left: 3%;
        top: 8px;
        flex: 0 0 85%;
        max-width: 85%;
      }
    }
  }
}
