
.facets-container {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    margin: 0;
    padding: 0;
    border: 0;
}

.facets-title {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #8b9bad;
    letter-spacing: 0.1rem;
    padding: 0;
    border-bottom:0px;
}

.facet-search {
    margin: 1.2rem 0 1.2rem;
}

.facet-checkbox-container {
    color: #4f4f4f;
    font-size: 1.3rem;
    margin: 0.8rem 0;
}

.facet-option-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.facet-option-input-wrapper {
    flex: 1;
}

.facet-option-count {
    color: #888888;
    font-size: 0.85em;
    margin-left: 2.4rem;
}

.tip{
    width: 1.6rem;
    height: 1.6rem;
    border:.1rem solid rgba(0, 0, 0, 0.1);
    background: #fff;
    transform: rotate(45deg);
    margin-top: 0px;
    margin-bottom: .5rem;
    position: absolute;
    z-index: 2;
    margin-left: 2rem;
    margin-top: .7rem;
}

.isAccordion{
    position:absolute;
    background-color: #fff;
    padding: 1.6rem;
    border-radius: .3rem;
    border: .1rem solid rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: 1.4rem;
    z-index: 3 
}
.isAccordionNot{
    max-height: 0px;
    overflow: hidden;
    background-color: #fff;
    z-index: 3;
    position: relative;
}
.arrowIcon{
    margin-right: 1.3rem;
    margin-top: 1.5rem;
    cursor: pointer;
    fill:#616161
}
.cardBody{
    padding: 0 !important;
}
.card{
    height: 4.8rem;
    cursor: pointer;
}
.textFieldHeight{
    min-height: 36px !important;
    max-height: 36px !important;
    padding: 0.5rem 0.5rem !important
}

