$border-color: #dbdbdb;

.grid {
  display: flex;
}
.grid_block {
  flex-direction: row;
  flex-wrap: wrap;
}
.grid_list {
  flex-direction: column;
}

.gridContent {
  display: flex;
  padding: 0.5rem 0;
  
  &.block {
    flex-direction: column;
    border-radius:.4rem;
    background-color:#fff;
    text-align:center;
    transition:all .3s ease-in-out;

    &:nth-child(4n) {
      margin-right:0px;
    }

    .gridImage, .gridTitle, .gridDescription {
      display: flex;
      justify-content: center;
      margin-bottom: 0.8rem;
    }
    .gridImage {
      width: 50px;
      height: 50px;
      background: #000;
      border-radius: 100%;
      justify-content: center;
      align-items: center;
      margin: .8em auto .8em;
      transition:all .3s ease-in-out;
      span {
        width:3rem;
        height:3rem;
      }
      svg {
        fill:#fff;
        width:3rem;

      }
    }

    .gridDescription {
      font-size: 1.2rem;
    }

    .gridHeader {
      border-bottom: 1px solid $border-color;
      padding: 0.5rem 1rem;
    }

    .gridFooter {
      border-top: 1px solid $border-color;
      padding: 0.5rem 1rem;
    }
    &:hover .gridImage {
      background-color: #0375d8;
      transition:all .3s ease-in-out;
    }
  }
  /*&.plain {
    transition:all .3s ease-in-out;
    border:0px;
    box-shadow:none;
   &:hover {
    transition:all .3s ease-in-out;
   }
  }*/
  &.basic, &.lift {
    transition:all .3s ease-in-out;
    margin-right: 1rem;
    margin-bottom:1rem;
    border: 1px solid $border-color;
    &:hover {
      transition:all .3s ease-in-out;
     }
  }
  &.lift {
    position: relative;
    top:0px;
    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
      transition:all .3s ease-in-out;
      top:-3px;
     }
     &:nth-child(4n) {
      margin-right:0px;
    }
  }
  
  &.list {
    border-bottom: 1px solid $border-color;
    padding: 1rem;

    &:first-child {
      border-top: 1px solid $border-color;
    }

    .gridImage, .gridTitle, .gridDescription, .gridHeader, .gridFooter {
      padding-right: 1rem;
    }
  }
}

.gridTitle {
  font-weight: 500;
}