@import 'foundation/spacing';
@import 'shared/accessibility';
@import 'shared/typography';

.choiceList {
  margin: 0;
  padding: 0;
  border: none;
}

.titleHidden > .title {
  @include visually-hidden;
}

.choices {
  list-style: none;
  margin: 0;
  padding: 0;
}

.title {
  @include text-style-body;
  display: block;
  margin: 0 0 spacing(extra-tight);
  padding: 0;
}
