@import 'foundation/spacing';
@import 'shared/accessibility';
@import 'shared/typography';

.choiceList {
  margin: 0;
  padding: 0;
  border: none;
}

.titleHidden > .title {
  @include visually-hidden;
}

.choices {
  list-style: none;
  margin: 0;
  padding: 0;
}

.choicesHorizontal {
  list-style: none;
  display: flex;
  margin: 0px;
  li {
    margin-right: 30px;
  };
}

.title {
  @include text-style-body;
  display: block;
  margin: 0 0 spacing(tightest);
  padding: 0;
  font-weight: 600;
}

.helpText {
  @include text-style-body;
  @include text-emphasis-subdued;
  margin-bottom: spacing(tightest);
}
