.SegmentWrap {
  border: 1px solid #bdbdbd;
  padding: .4rem;
  border-radius: .8rem;
  background: #f2f2f2;
  .SegmentButton {
    border: 1px solid transparent;
    background: transparent;
    width: 100%;
    height: auto;
    padding: 0px;
    margin-right: .4rem;
    &:last-child {
      margin-right:0px;
    }
    &.active {
      fill: color(text, text);
      color: color(text, text);
      background: color(white);
      border-color: #bdbdbd;
    }
    &:hover,
    &:focus {
      border-color: #bdbdbd;
      fill: color(text, text);
      color: color(text, text);
    }
    .segmentLabel {
      color: color(text, text);
    }
    .segmentSubText {
      color: color(text, text);
      opacity: 0.8;
    }
    .labelIconWrap {
      .labelIcon {
        margin-right: .9rem;
      }
    }
  }
}
