.hidden > .labelWrapper {
  @include visually-hidden;
}

.labelWrapper {
  margin-bottom: spacing(extra-tight);
  z-index: 50 !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.helpText {
  @include text-style-body;
  @include text-emphasis-subdued;
  margin-top: spacing(extra-tight);
}

// .required {}

// .focused {}

// .invalid {}

// .empty {}