$small-size: 2rem;
$large-size: 4.4rem;

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

@mixin spinnerSize($size) {
  height: $size;
  width: $size;
}

.spinner {
  animation: loading duration(fastspin) linear infinite;
  color: transparent;
}

.sizeSmall {
  @include spinnerSize($small-size);
}

.sizeLarge {
  @include spinnerSize($large-size);
}

.colorReverse {
  fill: color(white);
}

.colorNormal {
  fill: color(teal);
}

.colorDisabled {
  fill: color(ink, lightest);
}