ul.breadcrumb.left li {
  display: inline-block;
  position: relative;
  background: #88b7d5;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 40px;
  text-align: center;
  height: 40px;
  margin-left: -1px;
  justify-content: left;
}
ul.breadcrumb.left li:after,
ul.breadcrumb.left li:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
ul.breadcrumb.left li:after {
 
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #88b7d5;
  border-width: 20px;
  margin-top: -20px;
}
ul.breadcrumb.left li:before {
 
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #FFF;
  border-width: 22px;
  margin-top: -22px;
}

ul.breadcrumb.right li {
  display: inline-block;
  position: relative;
  background: #88b7d5;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 40px;
  text-align: center;
  height: 40px;
  margin-left: -1px;
  justify-content: right;
}
ul.breadcrumb.right li:after,
ul.breadcrumb.right li:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}
ul.breadcrumb.right li:after {
 
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #88b7d5;
  border-width: 20px;
  margin-top: -20px;
}
ul.breadcrumb.right li:before {
 
  border-color: rgba(194, 225, 245, 0);
  border-right-color: #FFF;
  border-width: 22px;
  margin-top: -22px;
}


// ul.breadcrumb {
//     padding: 10px 16px;
//     list-style: none;
//     background-color: #eee;
// }

// ul.breadcrumb.left {
//   flex-direction: row;
// }

// ul.breadcrumb.right {
//   flex-direction: row-reverse;
// }
  
// ul.breadcrumb li {
//     display: inline;
//     font-size: 18px;
// }
// ul.breadcrumb li+li:before {
//     padding: 8px;
//     color: black;
//     content: "/\00a0";
// }
// ul.breadcrumb li a {
//     color: #0275d8;
//     text-decoration: none;
// }
// ul.breadcrumb li a:hover {
//     color: #01447e;
//     text-decoration: underline;
// }


// // .breadcrumb {
// //     margin: 0;
// //     background-color: inherit;
// //     font-weight: 300;
// //     padding-left: 1rem;
// //     font-size: 15px; 
// //     display: flex;
// //   }

// //   // .breadcrumb.left {
// //   // flex-direction: row;
// //   // }

// //   // .breadcrumb.right {
// //   // flex-direction: row-reverse;
// //   // }

// //   .breadcrumbItem.left:nth-child(n+2) {
// //     &::before {
// //         padding-right: 0.2rem;
// //         padding-left: 0.2rem;
// //         color: green;
// //         content: "/";
// //         flex-direction: row;
// //      }
// //     }

// //   .breadcrumbItem.right:nth-child(n-2) {
// //     &::before {
// //         padding-right: 0.2rem;
// //         padding-left: 0.2rem;
// //         color: green;
// //         content: "/";
// //         flex-direction: row-reverse;
// //      }
// //     }
// // //  .breadcrumbItem > li:nth-child(n+2) {
// // //   margin-top: 10px;
// // //   padding-top: 10px;
// // //   border-top: 1px solid #e5e5e5;
// // // }


// .breadcrumb {
//     margin: 0;
//     background-color: inherit;
//     font-weight: 300;
//     padding-left: 1rem;
//     font-size: 15px; 
//     display: flex;
//   }
//   .breadcrumb.left {
//   flex-direction: row;
//   }
//   .breadcrumb.right {
//   flex-direction: row-reverse;
//   }
//   .breadcrumbItem.ileft:nth-child(n+2) {
//     &::before {
//         padding-right: 0.2rem;
//         padding-left: 0.2rem;
//         color: green;
//         content: "/";
//         flex-direction: row;
//      }
//     }
//   .breadcrumbItem.iright:nth-child(n+2) {
//     &::after {
//         padding-right: 0.2rem;
//         padding-left: 0.2rem;
//         color: green;
//         content: "/";
//         flex-direction: row-reverse;
//      }
//     }
