// Increased to account for chip height
$controlHeight: control-height() + rem(8px);
$backdrop-horizontal-spacing: spacing(tighter) * 1.5;

$stacking-order: (
  suggestions: 30,
  input: 20,
  backdrop: 10,
);

// AutoSuggest Container Styles

.containerWrapper {
  width: 100%;
  border-radius: 5px;
  cursor: text;
  min-height: 25px;
  z-index: z-index(input, $stacking-order);
  display: flex;
  flex-wrap: wrap;

  
  &.empty {
    min-width: 100px;

    > .container {
      width:100%;
    }
  }

  //TODO: Consider using Stack component instead of adding margin.
  .Chip {
    margin-top: control-vertical-padding() + rem(1px);
    margin-right: control-vertical-padding() + rem(1px);
    vertical-align: top;
  }
}

.container {
  width: 100%;
  display: inline-block;
  //overflow: hidden;
  text-overflow: ellipsis;
}

.input {
  @include text-style-input;
  position: relative;
  display: block;
  flex: 1 1 0%;
  width: 100%;
  min-height: $controlHeight;
  margin: 0;
  padding: control-vertical-padding() 0;
  background: none;
  border: border(transparent);
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  appearance: none;

  &:disabled {
    color: color(ink, lightest);
  }

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: color(ink, lightest);
  }
}

// AutoSuggest Suggestions Styles

.suggestionsList {
  position: absolute;
  margin: -5px 0 0;
  padding: 0;
  background: color(white);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  list-style-type: none;
  z-index: z-index(input, $stacking-order);
}


// AutoSuggest Card Styles

.cardItem {
  padding: 0 4px;

  &.highlighted {
    background: color(sky, light);
  }
  
  .avatarImage {
    border-radius: 50%;
    width: rem(40px);
    height: rem(40px);
    margin: 8px 0 8px 12px;
    vertical-align: middle;
  }

  .nameStyle {
    @include text-style-body;
    margin: 18px 0 18px 12px;
    // width: 200px;
  }

  .emailStyle {
    @include text-style-body;
    @include text-emphasis-subdued;
    margin: 18px 12px;
    // width: 200px;
  }

  .hinting {
    font-weight: bold;
  }
}

// TODO: Do we need these? Should display be none, or hidden?
.pickerResultShow{display:block;}
.pickerResultHide{display:none;}
