@import 'foundation/colors';
@import 'shared/controls';

.radioButton {
  position: relative;
}

.input {
  margin: 0;
  padding: 0;
  opacity: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:focus,
  &:active,
  &:checked {
    + .backdrop {
      background: color(indigo);
    }
  }

  &:checked {
    ~ .icon {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &:focus,
  &:active {
    + .backdrop {
      @include control-backdrop(focused);
    }
  }

  &:disabled {
    + .backdrop {
      @include control-backdrop(disabled);
    }

    ~ .icon {
      background-color: color(sky, dark);
    }
  }
}

.backdrop {
  @include control-backdrop;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;

  &::after {
    border-radius: 50%;
  }
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transform-origin: 50% 50%;
  height: 50%;
  width: 50%;
  background: color(indigo);
  border-radius: 50%;
  transition: control-icon-transition();
}
