.treeview {
    list-style-type: none;
    margin: 0px;

    ul {
        margin: 0;
        padding-left: 20px;

        .singleNode {
            &::before {
                top: -15px;
            }
        }
    }
}

.active {
    font-weight: bold;
}

.treeview li {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    position: relative;
}

.singleNode {
    .treeDivider {
        width: 15px;
        border-top: 1px solid #999;
    }

    &::before {
        content:'';
        position: absolute;
    }
    &::before {
        border-left: 1px solid #999;
        top: 0;
        bottom: 0;
        width: 1px;
    }

    .iconStyle {
        position: relative;
        left: -1px;
    }

    .nodeContent {
        position: relative;
        top: -6px;
        width: 100%;
    }
}

.treeviewSpan {
    border-bottom: 1px solid #999;
    width: 100%;
}

.treeview li.parent_li>span {
    cursor: pointer;
}
.treeview>ul>li::before, .treeview>ul>li::after {
    border: 0
}
.treeview li:last-child::before {
    height: 37px
}
.treeview li.parent_li>span:hover, .treeview li.parent_li>span:hover+ul li span {
    background: #eee;
    border: 1px solid #94a0b4;
    color: #000
}
