.treeview {
    list-style-type: none;
    padding: 0;
    margin: 0;

    ul {
        padding: 0;
        margin: 0;
        margin-left: -1.4em;
    }
}

.nodeicon {
  width: 1em;
  height: 1em;
  position: absolute;
  left: 1em;
}

.active {
    font-weight: bold;
}

.treeview li {
    list-style-type:none;
    margin:0;
    padding: 0.7em 0.7em 0.7em 2.8em;
    position:relative;
}

// need to clean up for multiline top node which has childen
// li.haschildren::before {
//   content:'';
//   left:1.4em;
//   position:absolute;
//   right:auto;
//   border-left:1px solid #999;
//   bottom:0;
//   top:0;
// }

.treeview ul li::before, .treeview ul li::after {
    content:'';
    left:0;
    position:absolute;
    right:auto;
}

.treeview ul li::before {
  border-left:1px solid #999;  
  bottom:0;
  top:0;
}
.treeview ul li::after {
    border-top:1px solid #999;
    top:calc(1em/2 + 0.7em); //18px;
    width:1em;
}

.treeview ul li:last-child.haschildren::before {
  height: calc(1em/2 + 0.7em);
}

// .treeviewSpan{
//     border-bottom:1px solid #999;
//     border-width:100%;
//     display:inline-grid;
//     text-decoration:none;
//     width: 95%;
// }

li.haschildren > .treeviewSpan {
  border-left: 1px solid #999;  
  bottom: 0;
  margin-top: 1em;
  display: inline-block;
  padding-left: 1.4em;
  margin-left: -1.4em;
}
li.haschildren > .treeviewSpan > * {
  margin-top: -1em;
  display: block;
}

// what's this?
.treeview li.parent_li>span {
    cursor:pointer;
}

// set last node tail to line height plus list item top margin
.treeview li:not(.haschildren):last-child::before {
    height: calc(1em/2 + 0.7em);
}
.treeview li.parent_li>span:hover, .treeview li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}
