@import 'foundation/border-radius';
@import 'foundation/colors';
@import 'foundation/shadows';
@import 'foundation/spacing';
@import 'shared/breakpoints';

.card {
  overflow: hidden;
  background-color: color(white);
  box-shadow: shadow();

  + .card {
    margin-top: spacing(loose);
  }

  @include page-content-when-not-partially-condensed {
    border-radius: border-radius();
  }
}

.subdued {
  background-color: color(sky, lighter);
}

.header {
  padding: spacing(loose) spacing(loose) 0;
}

.section {
  padding: spacing(loose);

  + .section {
    border-top: 1px solid color(sky);
  }
}

.section-subdued {
  background-color: color(sky, lighter);
}

.sectionHeader {
  padding-bottom: spacing(tight);
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 0 spacing(loose) spacing(loose);
}
