@import 'foundation/border-radius';
@import 'foundation/colors';
@import 'foundation/shadows';
@import 'foundation/spacing';
@import 'shared/breakpoints';

.card {
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: color(white);
  box-shadow: shadow();
  background-clip: border-box;
  border-radius: .25rem;

  + .card {
    margin-top: spacing(loose);
  }

  @include page-content-when-not-partially-condensed {
    border-radius: border-radius();
  }
}

.subdued {
  background-color: color(sky, lighter);
}

.header {
  padding: 1rem 2rem;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0,0,0,.125);
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  background-color: transparent;
}

.body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.section {
  padding: spacing(loose);

  + .section {
    border-top: 1px solid color(sky);
  }
}

.section-subdued {
  background-color: color(sky, lighter);
}

.sectionHeader {
  padding-bottom: spacing(tighter);
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 0 spacing(loose) spacing(loose);
}

.cardTitle {
  letter-spacing: 0;
  margin-bottom: spacing(loose);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
