@import 'foundation/spacing';
@import 'shared/typography';
@import 'foundation/colors';

$color-custom-gray: color(custom, custom_gray);
$color-custom-gray_bg: color(custom, custom_gray_bg);
$alert_primary_bg:color(custom, primaryBg);
$alert_success_bg:color(custom, sucdcessBg);
$alert_warning_bg:color(custom, warningBg);
$alert_danger_bg:color(custom, dangerBg);
$alert_primary_color:color(custom, alertPrimary);
$alert_success_color:color(custom, alertSuccess);
$alert_warning_color:color(custom, alertWarning);
$alert_danger_color:color(custom, alertDanger);

.alert {
    position:relative;
    margin-bottom:20px;
    padding:15px 30px 15px 15px;
    background:$color-custom-gray_bg;
    color:$color-custom-gray
}
*+alert {
    margin-top:20px 
}
.alert>:last-child {
    margin-bottom:0
}
.alertClose {
    position:absolute;
    top:15px;
    right:15px;
    opacity:.4;
    margin: 0;
    border: none;
    border-radius: 0;
    overflow: visible;
    font: inherit;
    color: inherit;
    text-transform: none;
    padding: 0;
    background-color: transparent;
    display: inline-block;
    fill: currentcolor;
    line-height: 0;
    height: 1.2rem;
    width: 1.2rem;
    transition: .1s ease-in-out;
    transition-property: color,opacity; 
}
.alertClose:first-child+* {
    margin-top:0
}
.alertClose:hover,.alertClose:focus {
    color:inherit;
    opacity:.8
}
.alertPrimary {
    background:$alert_primary_bg;
    color:$alert_primary_color
}
.alertSuccess {
    background:$alert_success_bg;
    color:$alert_success_color
}
.alertWarning {
    background:$alert_warning_bg;
    color:$alert_warning_color
}
.alertDanger {
    background:$alert_danger_bg;
    color:$alert_danger_color
}
.alert h1,.alert h2,.alert h3,.alert h4,.alert h5,.alert h6 {
    color:inherit
}
.alert a:not([class]) {
    color:inherit;
    text-decoration:underline
}
.alert a:not([class]):hover {
    color:inherit;
    text-decoration:underline
}

