@import 'foundation/spacing';
@import 'shared/typography';
@import 'foundation/colors';

$color-base-color: color(black);
$color-base_bg: color(sky, lighter);

$alert_primary_bg:color(blue, lighter);
$alert_primary_color:color(blue, base);

$alert_success_bg:color(green, lighter);
$alert_success_color:color(green, darker);

$alert_warning_bg:color(orange, lighter);
$alert_warning_color:color(orange, dark);

$alert_danger_bg:color(red, lighter);
$alert_danger_color:color(red, dark);

.alert {
    position:relative;
    margin-bottom:20px;
    padding:15px 30px 15px 15px;
    background:$color-base_bg;
    color:$color-base-color
}
*+alert {
    margin-top:20px 
}
.alert>:last-child {
    margin-bottom:0
}
.alertClose {
    position:absolute;
    top:15px;
    right:15px;
    opacity:.4;
    margin: 0;
    border: none;
    border-radius: 0;
    overflow: visible;
    font: inherit;
    color: inherit;
    text-transform: none;
    padding: 0;
    background-color: transparent;
    display: inline-block;
    fill: currentcolor;
    line-height: 0;
    height: 1.2rem;
    width: 1.2rem;
    transition: .1s ease-in-out;
    transition-property: color,opacity; 
}
.alertClose:first-child+* {
    margin-top:0
}
.alertClose:hover,.alertClose:focus {
    color:inherit;
    opacity:.8
}
.alertPrimary {
    background:$alert_primary_bg;
    color:$alert_primary_color
}
.alertSuccess {
    background:$alert_success_bg;
    color:$alert_success_color
}
.alertWarning {
    background:$alert_warning_bg;
    color:$alert_warning_color
}
.alertDanger {
    background:$alert_danger_bg;
    color:$alert_danger_color
}
.alert h1,.alert h2,.alert h3,.alert h4,.alert h5,.alert h6 {
    color:inherit
}
.alert a:not([class]) {
    color:inherit;
    text-decoration:underline
}
.alert a:not([class]):hover {
    color:inherit;
    text-decoration:underline
}

