.modal {
  /* 1 */
  display: none;
  /* 2 */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1010;
  overflow: auto;
  /* 3 */
  /*overflow-y: auto;*/
  -webkit-overflow-scrolling: touch;
  /* 4 */
  background: rgba(0, 0, 0, 0.6);
  /* 5 */
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  /* 6 */
  touch-action: cross-slide-y pinch-zoom double-tap-zoom;
  /* 7 */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}


.dialog {
  /* 1 */
  position: relative;

  /* 2 */
  border: solid 1px;
  box-sizing: border-box;
  margin: 50px auto;
  padding: 20px;
  width: 600px;
  //height: 400px;
  max-width: 100%;
  max-width: calc(100% - 20px);


  //////for adding modal at backdrop
  //   left: 50%;
  // margin-left: -300px;//500
  // position: fixed;
  // z-index: 1010;
  
  // max-height: -moz-calc(100% - (20px + 30px));
  // max-height: -webkit-calc(100% - (20px + 30px));
  // max-height: calc(100% - (20px + 30px));
  /* 3 */
  background: #fff;
  /* 4 */
  opacity: 0;
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
  -webkit-transition: opacity 0.3s linear, -webkit-transform 0.3s ease-out;
  transition: opacity 0.3s linear, transform 0.3s ease-out;
}

.backDrop {
  /* 1 */
  position: fixed;

  /* 2 */
  border: solid 1px;
  box-sizing: border-box;
  margin: 50px auto;
  padding: 20px;
  width: 600px;
  //height: 400px;
  max-width: 100%;
  max-width: calc(100% - 20px);


  //////for adding modal at backdrop
  left: 50%;
  margin-left: -300px;//500
  z-index: 1010;
  
  // max-height: -moz-calc(100% - (20px + 30px));
  // max-height: -webkit-calc(100% - (20px + 30px));
  // max-height: calc(100% - (20px + 30px));
  /* 3 */
  background: #fff;
  /* 4 */
  opacity: 0;
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
  -webkit-transition: opacity 0.3s linear, -webkit-transform 0.3s ease-out;
  transition: opacity 0.3s linear, transform 0.3s ease-out;
}

.overflow{
 overflow-y: scroll;
}

.close {
  /* 1 */
  -webkit-appearance: none;
  /* 2 */
  margin: 0;
  /* 3 */
  border: none;
  /* 4 */
  overflow: visible;
  /* 5 */
  font: inherit;
  color: inherit;
  /* 6 */
  text-transform: none;
  /* 7. */
  padding: 0;
  background: transparent;
  /* 8 */
  display: inline-block;
  box-sizing: content-box;
  width: 20px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  opacity: 0.3;
}
/* Icon */
.close:after {
  display: block;
  font-size: 18px;
  font: bolder;
  content: "X";}

.header {
    margin-bottom: 15px;
    margin: -20px -20px 15px -20px;
    padding: 20px;
    border-bottom: 1px solid #E5E5E5;
    border-radius: 4px 4px 0 0;
    background: #fafafa;
}
.footer {
    margin-top: 15px;
    margin: 15px -20px -20px -20px;
    padding: 20px;
    border-top: 1px solid #E5E5E5;
    border-radius: 0 0 4px 4px;
    background: #fafafa;

}

.dialog > .close:first-child {
  margin: -10px -10px 0 0;
  float: right;
}

.backDrop > .close:first-child {
  margin: -10px -10px 0 0;
  float: right;
}

.autoHeight{
  height: 200px;
  max-height: -moz-calc(100% - (20px + 30px));
  max-height: -webkit-calc(100% - (20px + 30px));
  max-height: calc(100% - (20px + 30px));
}