// Variables
// ========================================================================

$modal-z-index:                                 1010 !default;
$modal-overlay-background:                      rgba(0,0,0,0.6) !default;

$modal-dialog-margin-vertical:                  50px !default;
$modal-dialog-width-small:                      300px !default;
$modal-dialog-width-medium:                     600px !default;
$modal-dialog-width-large:                      800px !default;
$modal-dialog-background:                       #fff !default; //add $global-backgrouind

$modal-body-padding-horizontal:                  30px !default; //add $global-gutter
$modal-body-padding-vertical:                    $modal-body-padding-horizontal !default;

$modal-header-padding-horizontal:                30px !default; //add $global-gutter
$modal-header-padding-vertical:                  ($modal-header-padding-horizontal / 2) !default;
$modal-header-background:                        #fff !default; //add $global-backgrouind

$modal-footer-padding-horizontal:                30px !default; //add $global-gutter
$modal-footer-padding-vertical:                  ($modal-footer-padding-horizontal / 2) !default;
$modal-footer-background:                        #fff !default; //add $global-backgrouind

// Styles
// ========================================================================

.overlay {
  // display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $modal-z-index;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background: $modal-overlay-background;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.15s, opacity 0.15s linear;
  // touch-action: cross-slide-y pinch-zoom double-tap-zoom;

  &.open {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s, opacity 0.15s linear;
  }
}

.page {
  overflow: hidden;
}

.dialog {
  position: relative;
  box-sizing: border-box;
  margin: $modal-dialog-margin-vertical auto;
  max-width: 100%;
  max-width: calc(100% - 20px);
  background: $modal-dialog-background;
  transform: translateY(-100px);
  transition: transform 0.3s ease-out;
  
  &.small {
    width: $modal-dialog-width-small;
  }
  &.medium {
    width: $modal-dialog-width-medium;
  }
  &.large {
    width: $modal-dialog-width-large;
  }

}

.open > .dialog {
  transform: translateY(0);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.header {
  padding: $modal-header-padding-vertical $modal-header-padding-horizontal;
  border-bottom: 1px solid #E5E5E5;
  // border-radius: 4px 4px 0 0;
  background: $modal-header-background;
}

.body {
  padding: $modal-body-padding-vertical $modal-body-padding-horizontal;
}

.footer {
  padding: $modal-footer-padding-vertical $modal-footer-padding-horizontal;
  border-top: 1px solid #E5E5E5;
  // border-radius: 0 0 4px 4px;
  background: $modal-footer-background;
}

.autoHeight {
  height: auto;
  overflow: auto;
}

