@import 'foundation/colors';
.switchCheckbox {
    .outeWrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 54px;
        border: 1px solid;
        border-radius: 30px;
        background: transparent;
        position: relative;
        border:1px solid #000;
        height:22px;
        & > label {
            width: 33.33%;
            position: relative;
            top: 0px;
            left: 0px;
        }
        .switchRadio {
            font-size: 0px;
            color:transparent;
            width:19px;
            height:19px;
            background:#fff;
            border-radius: 10px;
            position: absolute;
            opacity: 0;
            visibility: hidden;
            top:.5px;
            box-shadow: -1px 1px 2px #1565C0;
        }
        input {
            opacity: 0;
            width:100%;
            height:16px;
            z-index: 99;
            margin:0px;
            position: relative;
        }
        .trueRadio input:checked + .switchRadio {
            left:1px;
            opacity: 1;
            visibility: visible;
        }
        .nullRadio input:checked + .switchRadio {
            left:50%;
            opacity: 1;
            visibility: visible;
            transform: translateX(-50%);
        }
        .falseRadio input:checked + .switchRadio {
            right:1px;
            opacity: 1;
            visibility: visible;
        }
    }
}





.switchNormal {
    .outeWrap {
        background:color(blue);
        border-color:color(blue);
        width: 4.2rem;
        .trueRadio {
            input {
                &:checked + .switchRadio {
                    left:1px;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        .nullRadio {
            input {
                &:checked + .switchRadio {
                    left:50%;
                    opacity: 1;
                    visibility: visible;
                    transform: translateX(-50%);
                }
            }
        }
        .falseRadio {
            input {
                &:checked + .switchRadio {
                    right:1px;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }  
}
.switchTrueFalse {
    .outeWrap {
        background:color(blue);
        border-color:color(blue);
        width: 5.4rem;
        .trueRadio {
            input {
                &:checked + .switchRadio {
                    left:1px;
                    opacity: 1;
                    visibility: visible;
                    &:after {
                        content:'FALSE';
                        font-size: 1rem;
                        color:color(white);
                        right: -29px;
                        position: absolute;
                        z-index: 1;

                    }
                }
            }
        }
        .nullRadio {
            input {
                &:checked + .switchRadio {
                    left:50%;
                    opacity: 1;
                    visibility: visible;
                    transform: translateX(-50%);
                }
            }
        }
        .falseRadio {
            input {
                &:checked + .switchRadio {
                    right:1px;
                    opacity: 1;
                    visibility: visible;
                    &:after {
                        content:'TRUE';
                        font-size: 1rem;
                        color:color(white);
                        left: -29px;
                        position: absolute;
                        z-index: 1;

                    }
                }
            }
        }
    } 
}
.switchYesNo {
    .outeWrap {
        background:color(blue);
        border-color:color(blue);
        width: 4.4rem;
        .trueRadio {
            input {
                &:checked + .switchRadio {
                    left:1px;
                    opacity: 1;
                    visibility: visible;
                    &:after {
                        content:'NO';
                        font-size: 1rem;
                        color:color(white);
                        right: -20px;
                        position: absolute;
                        z-index: 1;

                    }
                }
            }
        }
        .nullRadio {
            input {
                &:checked + .switchRadio {
                    left:50%;
                    opacity: 1;
                    visibility: visible;
                    transform: translateX(-50%);
                }
            }
        }
        .falseRadio {
            input {
                &:checked + .switchRadio {
                    right:1px;
                    opacity: 1;
                    visibility: visible;
                    &:after {
                        content:'YES';
                        font-size: 1rem;
                        color:color(white);
                        left: -20px;
                        position: absolute;
                        z-index: 1;

                    }
                }
            }
        }
    } 
}

.falseSelect {
    .outeWrap {
        background-color:#D8D8D8;
        border-color: #BDBDBD;
        .switchRadio {
            box-shadow: 1px 1px 2px #9E9E9E;
            &:after {
                color: color(text, darker) !important;
            }
        }
    }
}