@import 'foundation/colors';
.switchCheckbox {
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    .OuterSpan {
        position: relative;
        margin-right: 0.8rem;
        .InnerSpan {
            width: 5.4rem;
            background:color(ink, lightest);
            display: inline-block;
            position: relative;
            border-radius: 3rem;
            height: 2.2rem;
            vertical-align: middle;
            position: relative;
            .innerCircle{
                content: "";
                display: block;
                width: 1.9rem;
                height: 1.9rem;
                border-radius: 100%;
                position: absolute;
                left: 1px;
                right:auto;
                background-color: color(sky, base);
                top: 1px;
                transition: all .3s ease-in-out;
                -moz-transition: all .3s ease-in-out;
                -webkit-transition: all .3s ease-in-out;
                z-index: 1;
                .Accept {
                    display: none;
                }
                .Cancel {
                    display: block;
                }
            }
        }
        input {
            width: 100%;
            opacity: 0;
            position: absolute;
            z-index: 2;
            &:checked + .InnerSpan {
                background-color: color(blue, base);
            .innerCircle {
                right:2px;
                left: auto;
                transition: all .3s ease-in-out;
                -moz-transition: all .3s ease-in-out;
                -webkit-transition: all .3s ease-in-out;
                background: color(white);
                .Cancel {
                    display: none;
                }
                .Accept {
                    display: block;
                }
            }
        }
        &:focus + .InnerSpan .innerCircle {
            background-color: color(white);
        }
    }
}
}


.switchNormal {
    .OuterSpan {
        .InnerSpan {
            width: 4.2rem;
            &:before,
            &:after {
                display: none;
            }
        }
    }
}
.switchTrueFalse {
    .OuterSpan {
        .InnerSpan {
            width: 5.4rem;
            &:after {
                content: "FALSE";
                position: absolute;
                font-size: 10px;
                color:#fff;
                right: 4px;
                top: 1px;
            }
        }
        input {
            &:checked + .InnerSpan {
                &:before {
                    content: "TRUE";
                    position: absolute;
                    font-size: 10px;
                    color:#fff;
                    left:4px;
                    top:1px;
                }
                &:after {
                    display:none;
                }
            }
        }
        .Cancel,
        .Accept {
            display: none;
        }
    }
}
.switchYesNo {
    .OuterSpan {
        .InnerSpan {
            width: 4.4rem;
            &:after {
                content: "NO";
                position: absolute;
                font-size: 10px;
                color:#fff;
                right: 4px;
                top: 1px;
            }
        }
        input {
            &:checked + .InnerSpan {
                &:before {
                    content: "YES";
                    position: absolute;
                    font-size: 10px;
                    color:#fff;
                    left:4px;
                    top:1px;
                }
                &:after {
                    display:none;
                }
            }
        }
        .Cancel,
        .Accept {
            display: none;
        }
    }
}