@import 'foundation/colors';
.switchCheckbox {
    display: flex;
    .switchLabel {
        margin-left:6px;
    }
    .outeWrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 54px;
        border: 1px solid;
        border-radius: 30px;
        background: transparent;
        position: relative;
        border:1px solid #000;
        height:22px;
        & > label {
            width: 33.33%;
            position: relative;
            top: 0px;
            left: 0px;
        }
        .switchRadio {
            font-size: 0px;
            color:transparent;
            width:19px;
            height:19px;
            background:#fff;
            border-radius: 10px;
            position: absolute;
            opacity: 0;
            visibility: hidden;
            top:.5px;
            box-shadow: -1px 1px 2px #1565C0;
        }
        input {
            opacity: 0;
            width:100%;
            height:16px;
            z-index: 99;
            margin:0px;
            position: relative;
        }
        .trueRadio { 
            input:checked + .switchRadio {
                left:1px;
                opacity: 1;
                visibility: visible;
            }
        }
        .nullRadio { 
            input:checked + .switchRadio {
                left:50%;
                opacity: 1;
                visibility: visible;
                transform: translateX(-50%);
            }
         }
        .falseRadio { 
            input:checked + .switchRadio {
                right:1px;
                opacity: 1;
                visibility: visible;
            }
        }
        .Accept,
        .Cancel {
            position: absolute;
            top: 1.5px;
            display: none;
        }
        .Accept {
            left: -3px;
        }
        .Cancel {
            right: 1.5px;
        }
    }
}
.switchNormal {
    .outeWrap {
        background:color(blue);
        border-color:color(blue);
        width: 4.2rem;
        .Accept,
        .Cancel {
            display: none!important;
        }
        .trueRadio {
            
            input {
                &:checked + .switchRadio {
                    left:-6px;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        .nullRadio {
            input {
                &:checked + .switchRadio {
                    left:50%;
                    opacity: 1;
                    visibility: visible;
                    transform: translateX(-50%);
                }
            }
        }
        .falseRadio {
            
            input {
                &:checked + .switchRadio {
                    right:-6px;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }  
}
.switchTrueFalse {
    .outeWrap {
        background:color(blue);
        border-color:color(blue);
        width: 5.4rem;
        .trueRadio {
          input {
                &:checked + .switchRadio {
                    left:-2px;
                    opacity: 1;
                    visibility: visible;
                    &:after {
                        content:'TRUE';
                        font-size: 1rem;
                        color:color(white);
                        left: -29px;
                        position: absolute;
                        z-index: 1;

                    }
                }
            }
        }
        .nullRadio {
            input {
                &:checked + .switchRadio {
                    left:50%;
                    opacity: 1;
                    visibility: visible;
                    transform: translateX(-50%);
                }
            }
        }
        .falseRadio {
          
            input {
                &:checked + .switchRadio {
                    right:-3px;
                    opacity: 1;
                    visibility: visible;
                    &:after {
                        content:'FALS';
                        font-size: 1rem;
                        color:color(white);
                        right: -29px;
                        position: absolute;
                        z-index: 1;

                    }
                }
            }
        }
    } 
}
.switchYesNo {
    .outeWrap {
        background:color(blue);
        border-color:color(blue);
        width: 4.4rem;
        .trueRadio {
            input {
                &:checked + .switchRadio {
                    left:-6px;
                    opacity: 1;
                    visibility: visible;
                    &:after {
                        content:'YES';
                        font-size: 1rem;
                        color:color(white);
                        left: -19px;
                        position: absolute;
                        z-index: 1;

                    }
                }
            }
        }
        .nullRadio {
            input {
                &:checked + .switchRadio {
                    left:50%;
                    opacity: 1;
                    visibility: visible;
                    transform: translateX(-50%);
                }
            }
        }
        .falseRadio {
            input {
                &:checked + .switchRadio {
                    right:-6px;
                    opacity: 1;
                    visibility: visible;
                    &:after {
                        content:'NO';
                        font-size: 1rem;
                        color:color(white);
                        right: -19px;
                        position: absolute;
                        z-index: 1;

                    }
                }
            }
        }
    } 
}

.falseSelect, .nullSelect{
    .outeWrap {
        background-color:#D8D8D8;
        border-color: #BDBDBD;
        .switchRadio {
            box-shadow: 1px 1px 2px #9E9E9E;
            &:after {
                color: color(text, darker) !important;
            }
        }
    }
}

.trueSelect {
    .outeWrap {
        background:color(blue);
        border-color:color(blue);
        .switchRadio {
            box-shadow: 1px 1px 2px #9E9E9E;
            &:after {
                color: color(white) !important;
            }
        }
    }
}


.trueSelect.switchCheckbox {
    .outeWrap {
        .trueRadio {
            input:checked {
                & ~ .Accept {
                    display: block;
                    top:3px;
                    right:4px;
                }
            }
        }
    }
}

.falseSelect.switchCheckbox {
    .outeWrap {
        .falseRadio {
            input:checked {
                & ~ .Cancel {
                    display: block;
                    top:3px;
                    left:3px;
                }
            }
        }
    }
}


.trueSelect.switchCheckbox.switchTrueFalse {
    .outeWrap {
        .trueRadio {
            input:checked {
                & ~ .Accept {
                    display: block;
                    top:3px;
                    right:1px;
                    left:auto;
                }
            }
        }
    }
}

.falseSelect.switchCheckbox.switchTrueFalse {
    .outeWrap {
        .falseRadio {
            input:checked {
                & ~ .Cancel {
                    display: block;
                    top:2px;
                    left:2px;
                    right:auto;
                }
            }
        }
    }
}