// Variables
// ========================================================================

$drawer-bar-background:                       #fff !default; //create global var?

$drawer-bar-width-collapsed:                  40px !default;
$drawer-bar-padding-vertical-collapsed:       5px !default;
$drawer-bar-padding-horizontal-collapsed:     5px !default;

$drawer-bar-width-small:                      270px !default;
$drawer-bar-padding-vertical-small:           30px !default;
$drawer-bar-padding-horizontal-small:         30px !default;

$drawer-bar-width-medium:                     350px !default;
$drawer-bar-padding-vertical-medium:          40px !default;
$drawer-bar-padding-horizontal-medium:        40px !default;

$drawer-bar-width-large:                      600px !default;
$drawer-bar-padding-vertical-large:           40px !default;
$drawer-bar-padding-horizontal-large:         40px !default;

$drawer-close-position:                       20px !default;
$drawer-close-padding:                        5px !default;

$drawer-overlay-background:                   rgba(0,0,0,0.2) !default;

// master placed drawer above all other items on page 
$stacking-order: (
  master: 500,
  standard: 200,
  close: 190,
);

// Styles
// ========================================================================

.drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: z-index(standard, $stacking-order);

  // Master modifier
  &.master {
    z-index: z-index(master, $stacking-order);
  }

  // Flip modifier
  &.flip {
    right: 0;
    left: auto;
  }
}

.drawerContent {
  right: 0;
  left: 0;
}
// Bar
// ------------------------------------------------------------------------
.bar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  background: $drawer-bar-background;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);

  &.dark {
    background: #212b36;
    color: #fff;
  }

  &.overflowDisable {
    overflow: initial;
  }
}

.drawer {
  &.collapsed .bar {
    width: $drawer-bar-width-collapsed;
  }

  &.small .bar {
    width: $drawer-bar-width-small;
  }

  &.medium .bar {
    width: $drawer-bar-width-medium;
  }

  &.large .bar {
    width: $drawer-bar-width-large;
  }
}

// Flip modifier
.flip > .bar  {
  left: auto;
  right: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

// Open
.open > .bar {
  -webkit-transform: translateX(0);
  transform: none;
}

//Medium and larger screens 
@media (min-width: $breakpoint-medium) {
  .drawer {
    &.collapsed .bar {
      width: $drawer-bar-width-collapsed;
    }

    &.small .bar {
      width: $drawer-bar-width-small;
    }

    &.medium .bar {
      width: $drawer-bar-width-medium;
    }

    &.large .bar {
      width: $drawer-bar-width-large;
    }
  }
}

// Slide and Push mode animation
// ------------------------------------------------------------------------
.animation {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

// Reveal animation
// ------------------------------------------------------------------------
.reveal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  overflow: hidden;
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;

  .bar {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

// Flip modifier
.flip > .reveal {
  right: 0;
  left: auto;

  .bar {
    left: auto;
    right: 0;
  }
}

.drawerLabel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -26px;
  background: $drawer-bar-background;
  z-index: 1;
  padding: 10px 3px;

  .drawerLabelText {
    writing-mode: vertical-rl;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    white-space: nowrap;
    display: block;
  }
}
// Open
.collapsed.open > .reveal {
  width: $drawer-bar-width-collapsed;
}

.small.open > .reveal {
  width: $drawer-bar-width-small;
}

.medium.open > .reveal {
  width: $drawer-bar-width-medium;
}

.large.open > .reveal {
  width: $drawer-bar-width-large;
}

// //Medium and larger screens 
@media (min-width: $breakpoint-medium) {  
  .collapsed.open > .reveal {
    width: $drawer-bar-width-collapsed;
  }

  .small.open > .reveal {
    width: $drawer-bar-width-small;
  }

  .medium.open > .reveal {
    width: $drawer-bar-width-medium;
  }

  .large.open > .reveal {
    width: $drawer-bar-width-large;
  }

}

// Close
// ------------------------------------------------------------------------
.close {
  position: absolute;
  z-index: z-index(close, $stacking-order);
  top: $drawer-close-position;
  right: $drawer-close-position;
  padding: $drawer-close-padding;
}

// Fixed Close
// ------------------------------------------------------------------------
.fixedClose {
  position: fixed;
  z-index: z-index(close, $stacking-order);
  top: $drawer-close-position;
  right: $drawer-close-position;
  padding: $drawer-close-padding;
}

// Overlay
// ------------------------------------------------------------------------
.overlay {

  &.drawer::before {
    content: "";
    position: absolute;
    background: $drawer-overlay-background;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    transition: opacity 0.5s linear;
  }

  &.open {
    width: 100vw;
    touch-action: none;

    &.drawer::before {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 1;      
    }
  } 
}

body.overlay {
  width: 100vw;
  touch-action: none;
}

body.container {
  overflow: auto !important;
}

:global #root {
  position: relative;
  left: 0;
  -webkit-transition: left 0.3s ease-out;
  transition: left 0.3s ease-out;
  -webkit-overflow-scrolling: touch;  
}


// Container
// ------------------------------------------------------------------------
.container {
  overflow-x: hidden;

  &.overlay {
    overflow: hidden;

    :global #root {
      overflow-y: hidden;
    }
  }

  &.animation {
    &.collapsed {
      :global #root {
        left: $drawer-bar-width-collapsed;
      }
    }

    &.small {
      :global #root {
        left: $drawer-bar-width-small;
      }
    }

    &.medium {
      :global #root {
        left: $drawer-bar-width-medium;
      }
    }

    &.large {
      :global #root {
        left: $drawer-bar-width-large;
      }
    }

    &.flip {
      &.collapsed {
        :global #root {
          left: (-$drawer-bar-width-collapsed);
        }
      }

      &.small {
        :global #root {
          left: (-$drawer-bar-width-small);
        }
      }

      &.medium {
        :global #root {
          left: (-$drawer-bar-width-medium);
        }
      }

      &.large {
        :global #root {
          left: (-$drawer-bar-width-large);
        }  
      }
    }
  }
}
//Medium and larger screens 
@media (min-width: $breakpoint-medium) {
  
  .container {

    &.animation {
      &.collapsed {
        :global #root {
          left: $drawer-bar-width-collapsed;
        }
      }

      &.small {
        :global #root {
          left: $drawer-bar-width-small;
        }
      }

      &.medium {
        :global #root {
          left: $drawer-bar-width-medium;
        }
      }

      &.large {
        :global #root {
          left: $drawer-bar-width-large;
        }
      }
  
      &.flip {
        &.collapsed {
          :global #root {
            left: (-$drawer-bar-width-collapsed);
          }
        }

        &.small {
          :global #root {
            left: (-$drawer-bar-width-small);
          }
        }

        &.medium {
          :global #root {
            left: (-$drawer-bar-width-medium);
          }
        }

        &.large {
          :global #root {
            left: (-$drawer-bar-width-large);
          }
        }
      }
    }
  }  
}
