@import 'foundation/colors';
.switchCheckbox {
    display: flex;
    .switchLabel {
        margin-left:.6rem;
    }
    .outerWrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        & > label {
            width: 33.33%;
            position: relative;
            top: 0px;
            left: 0px;
        }
        .switchRadio {
            font-size: 0px;
            color:transparent;
            width:1.9rem;
            height:1.9rem;
        }
        input {
            width:100%;
            height:1.6rem;
            z-index: 9;
            margin:0px;
            position: relative;
        }
        .trueRadio { 
            input:checked + .switchRadio {
                left:1px;
                opacity: 1;
                visibility: visible;
            }
        }
        .falseRadio { 
            input:checked + .switchRadio {
                right:1px;
                opacity: 1;
                visibility: visible;
            }
        }
        .Accept,
        .Cancel {
            position: absolute;
        }
    }
}

.switchYesNo {
    .outerWrap {
        background:color(blue);
        border-color:color(blue);
        width: 4.4rem;
        .trueRadio {
            input {
                &:checked + .switchRadio {
                    right:.1rem;
                    left:auto;
                    opacity: 1;
                    visibility: visible;
                    &:after {
                        content:'Yes';
                        font-size: 1rem;
                        color:color(white);
                        left: -2.1rem;
                        position: absolute;
                        z-index: 1;
                        text-transform: uppercase;
                        line-height: 1;
                        top: 54%;
                    }
                }
            }
        }
        
        .falseRadio {
            input {
                &:checked + .switchRadio {
                    left:.1rem;
                    right:auto;
                    opacity: 1;
                    visibility: visible;
                    &:after {
                        content:'No';
                        font-size: 1rem;
                        color:color(white);
                        right: -2rem;
                        position: absolute;
                        z-index: 1;
                        text-transform: uppercase;
                        line-height: 1;
                        top: 54%;
                    }
                }
            }
        }
    } 
}

.falseSelect{
    .outerWrap {
        background-color:color(sky, light);
        border-color: color(sky, dark);
        .switchRadio {
            &:after {
                color: color(text, darker) !important;
            }
        }
    }
}

.trueSelect {
    .outerWrap {
        background:color(blue);
        border-color:color(blue);
        .switchRadio {
            &:after {
                color: color(white) !important;
            }
        }
    }
}
