@mixin button-filled($button-color, $focus-color, $border-color: null) {

  background: $button-color;
  border-color: transparent;
  box-shadow: none;
  // box-shadow:
  //   inset 0 1px 0 0 lighten($button-color, 3%),
  //   shadow(faint),
  //   0 0 0 0 transparent;
  color: theme-color(white);

  &:hover {
    background: darken($button-color, 8%);
    border-color: transparent;
  }

  &:focus {
    background: darken($button-color, 8%);
    border-color: transparent;
    box-shadow: none;
    // box-shadow:
    //   inset 0 1px 0 0 lighten($button-color, 5%),
    //   shadow(faint),
    //   0 0 0 1px $focus-color;
  }

  &:active {
    background: lighten($button-color, 4%);
    border-color: transparent;
    box-shadow: none;
    // box-shadow:
    //   inset 0 0 0 0 transparent,
    //   shadow(faint),
    //   0 0 1px 0 $active-color;
  }
}

@mixin button-outline($outline-color) {
  background: transparent;
  border-color: $outline-color;
  // box-shadow: none;
  // color: darken($outline-color, 20%);

  &:hover {
    background: rgba($outline-color, 0.15);
    border-color: $outline-color;
  }

  &:focus {
    background: rgba($outline-color, 0.15);
    border-color: $outline-color;
    // box-shadow: 0 0 0 1px rgba($outline-color, 0.8);
  }

  &:active {
    background: rgba($outline-color, 0.05);
    box-shadow: none;
  }
}

@function plain-button-background() {
  @return rgba(color(ink), 0.1);
}

@mixin plain-button-backdrop() {
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -5px;
  right: -5px;
  display: block;
  background: plain-button-background();
  border-radius: border-radius();
  transition: opacity duration() easing();
}

@mixin unstyled-button() {
  appearance: none;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
