@import 'foundation/colors';
@import '../../styles/foundation/colors.scss';

$color-text: color(grey, base);
$color-darker: color(grey, darker);
$color-darkest: color(grey, darkest);
$color-mid: color(grey, light);
$color-reverse:#fff;
$color-danger: color(red, dark);
.displayText {
  margin: 0;
}

.sizeSmall {
  @include text-style-display-small;
}

.sizeMedium {
  @include text-style-display-medium;
}

.sizeLarge {
  @include text-style-display-large;
}

.sizeExtraLarge {
  @include text-style-display-x-large;
}
.colorText {
  color:$color-text;
}
.colorDarker {
  color:$color-darker;
}
.colorDarkest {
  color:$color-darkest;
}
.colorMid {
  color:$color-mid;
}
.colorReverse {
  color:$color-reverse;
  background:#212b36;
}
.colorDanger {
  color:$color-danger;
}
h1 {
  @include text-style-heading-h1;
  @include text-style-semi-bold;
}
h2 {
  @include text-style-heading-h2;
  @include text-style-bold;
}
h3 {
  @include text-style-heading-h3;
  @include text-style-semi-bold;
}
h4 {
  @include text-style-heading-h4;
  @include text-style-normal;
}
h5 {
  @include text-style-body-large;
}
h6 {
  @include text-style-body;
}