

.customControl {
  position: relative;
  display: inline-block;
  min-height: 1.5rem;
  margin-left: 1.5rem;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.customControlInput {
  position: absolute;
  z-index: -1;
  opacity: 0;

  &:checked~label {
    &:before {
      color: #fff;
      background-color: #007bff;
      border-color: #0068d7;
    }

    &:after {
     content: '\2714\0020';
     box-sizing: border-box;
     background-repeat: no-repeat;
     background-position: 50%;
     background-size: 50% 50%;
     color: #fff;
     padding-left: 2px;
    }
  }
}

.customControlInputIndeterminante {
  position: absolute;
  z-index: -1;
  opacity: 0;

  &:checked~label {
    &:before {
      color: #fff;
      background-color: #007bff;
      border-color: #0068d7;
    }

    &:after {
     content: '\2212';
     box-sizing: border-box;
     background-repeat: no-repeat;
     background-position: 50%;
     background-size: 50% 50%;
     color: #fff;
     padding-left: 2px;
    }
  }
}

.customControlLabel {
  display: inline-block;
  position: relative;
  margin-bottom: 0;
  padding-left: 0.5rem;
  height: 1.5rem;

  &:before, &:after {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    content: "";
  }

  &:before {
    border-radius: .25rem;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ffffff;
    border: 1px solid #d5d5d5;
  }

  &:after {
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
}