@import './_variables.scss';

.example {
    position: relative;
    padding: 3em 1em 1em;
    border: 1px solid #d8d8d8;
    margin: 1.5rem 0 0;
    font-size: 14px;

    &:before {
        position: absolute;
        left: 0;
        top: 0;
        padding: 1em;
        color: #aaa;
        font-weight: 500;
        content: 'EXAMPLE';
    }

    .ChoiceList{
        .title{          
            font-size: 1rem;
        }
    }

  
}