@import './_variables.scss';


.default-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 415px;
  margin-bottom: 15px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
}
