@import 'foundation/borders';
@import 'foundation/border-radius';
@import 'foundation/duration';
@import 'foundation/easing';
@import 'foundation/spacing';
@import 'foundation/utilities';
@import 'foundation/z-index';
@import 'foundation/easing';
@import 'foundation/duration';
@import 'shared/controls';
@import 'shared/typography';

$backdrop-horizontal-spacing: spacing(tight) * 1.5;
$addon-horizontal-spacing: 0.25em;
$spinner-icon-size: rem(12px);

$stacking-order: (
  contents: 20,
  backdrop: 10,
);

.TextField {
  @include text-style-input;
  position: relative;
  display: flex;
  align-items: baseline;
  padding: 0 $backdrop-horizontal-spacing;
  color: color(ink, lightest);
  @if(mixin-exists(hook-textfield)) {@include hook-textfield();}
}

.multiline {
  padding: 0;

  > .Input {
    overflow: auto;
    padding-left: $backdrop-horizontal-spacing;
    padding-right: $backdrop-horizontal-spacing;
    resize: none;
    @if(mixin-exists(hook-textfield-input)) {@include hook-textfield-input();}
  }
}

.hasValue {
  .Input {
    color: color(ink);
    @if(mixin-exists(hook-input-hasvalue)) {@include hook-input-hasvalue();}
  }
}

.error {
  .Input {
    @if(mixin-exists(hook-input-error)) {@include hook-input-error();}
  }
  
  .Input::placeholder {
    // This is the only place this color is used.
    // stylelint-disable-next-line color-no-hex
    color: #9c9798;
    @if(mixin-exists(hook-placeholder-error)) {@include hook-placeholder-error();}
  }

  > .Input ~ .Backdrop {
    background-color: color(red, lighter);
    border-color: color(red);
    box-shadow: none;
    @if(mixin-exists(hook-backdrop-error)) {@include hook-backdrop-error();}
  }

  // We need this to override the box-shadow in the focus state.
  // stylelint-disable-next-line selector-max-specificity
  > .Input:focus ~ .Backdrop {
    border-color: color(indigo);
    box-shadow:
      inset shadow(transparent),
      0 0 0 1px color(indigo);
    @if(mixin-exists(hook-backdrop-focus)) {@include hook-backdrop-focus();}
  }
}

.readOnly > .Backdrop {
  background-color: color(sky, lighter);
  @if(mixin-exists(hook-backdrop-readonly)) {@include hook-backdrop-readonly();}
}

.disabled > .Backdrop {
  background-color: color(sky, lighter);
  border: border();
  box-shadow: none;
  @if(mixin-exists(hook-backdrop-disabled)) {@include hook-backdrop-disabled();}
}

.Input {
  @include text-style-input;
  position: relative;
  z-index: z-index(contents, $stacking-order);
  display: block;
  flex: 1 1 0%;
  width: 100%;
  min-height: control-height();
  margin: 0;
  padding: control-vertical-padding() 0;
  background: none;
  border: border(transparent);
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  appearance: none;
  @if(mixin-exists(hook-input)) {@include hook-input();}

  &:disabled {
    color: color(ink, lightest);
    @if(mixin-exists(hook-input-disabled)) {@include hook-input-disabled();}
  }

  &:focus {
    outline: none;

    ~ .Backdrop {
      border-color: color(indigo);
      box-shadow:
        inset shadow(transparent),
        0 0 0 1px color(indigo);
      @if(mixin-exists(hook-backdrop-focused)) {@include hook-backdrop-focused();}

    }
  }

  &::placeholder {
    color: color(ink, lightest);
    @if(mixin-exists(hook-placeholder)) {@include hook-placeholder();}
  }

  // These properties are used to remove the default "spinner" controls
  // for number fields, since we add our own, custom versions instead.
  &[type='number'] {
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }
  }
}

.Backdrop {
  position: absolute;
  z-index: z-index(backdrop, $stacking-order);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: color(white);
  border: border(dark);
  box-shadow: inset 0 1px 0 0 rgba(color(ink, lighter), 0.05);
  border-radius: border-radius();
  will-change: box-shadow;
  transition: box-shadow duration() easing();
  @if(mixin-exists(hook-backdrop)) {@include hook-backdrop();}
}

.Prefix {
  position: relative;
  z-index: z-index(contents, $stacking-order);
  flex: 0 0 auto;
  margin-right: $addon-horizontal-spacing;
  color: currentColor;
}

.Suffix {
  position: relative;
  z-index: z-index(contents, $stacking-order);
  flex: 0 0 auto;
  margin-left: $addon-horizontal-spacing;
  color: currentColor;
}

.Spinner {
  z-index: z-index(contents, $stacking-order);
  display: flex;
  align-self: stretch;
  flex-direction: column;
  width: rem(22px);
  margin: 1px calc(-#{$backdrop-horizontal-spacing} + 1px) 1px $backdrop-horizontal-spacing;
  color: color(ink);
}

.SpinnerIcon {
  height: $spinner-icon-size;
  width: $spinner-icon-size;
  @if(mixin-exists(hook-spinner-icon)) {@include hook-spinner-icon();}
}

.Resizer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  visibility: hidden;
}

.DummyInput {
  @include text-style-input;
  padding: control-vertical-padding() $backdrop-horizontal-spacing;
  border: border(transparent);

  // We need the following properties in order to have long, unbroken
  // strings wrap in the same way they do in textareas.
  white-space: pre-wrap;
  word-wrap: break-word;
}

.Segment {
  display: flex;
  flex: 1 1 0%;
  justify-content: center;
  align-items: center;
  appearance: none;
  background: linear-gradient(to bottom, color(white), color(sky, lighter));
  border: none;
  border-left: border(dark);
  will-change: background, box-shadow;
  transition:
    background duration(fast) easing(),
    box-shadow duration(fast) easing();

  &:focus {
    outline: none;
  }

  &:active {
    background: linear-gradient(to bottom, color(sky, light), color(sky, light));
    box-shadow:
      inset 0 1px 1px 0 rgba(color(ink, lighter), 0.1),
      inset 0 1px 4px 0 rgba(color(ink, lighter), 0.2);
  }

  &:not(:first-child) {
    margin-top: -1px;
    border-top: border(dark);
  }

  &:first-child {
    border-top-right-radius: border-radius();
  }

  &:last-child {
    border-bottom-right-radius: border-radius();
  }
}
