@import './_variables.scss';

/* CSS Reset */
html, body, div, span, applet, object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

/* Global Styles */
* {
  box-sizing:  border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
	font-weight: 300;
  line-height: 22px;
  color: $darker-gray;
	background-color: $light-gray;
}

h1 {
  color: $darker-gray;
  font-size: 23px;
  font-weight: 300;
  color: $red;
  margin: 1em 0;
  line-height: 1;
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

button:focus { outline:0; }

a { text-decoration: none; }

.app_container {
  margin: 0 auto;
  width: 95%; 
}

.component_container {
   overflow: hidden;
   box-shadow: 0 1.2rem 3.6rem rgba(0,0,0,.2);
   padding: 0 23px 0 23px;
   min-height: 100vh;
}

.homepage {
  text-align: center;
  padding-top: 25vh;

  h1{
    text-align: center;
    font-size: 50px;
  }
}

p {
  margin: 0;
}

h3 {   
  color: $black;
  font-size: 23px;
  font-weight: 300;
  margin: 1em 0 0.7em 0;
  line-height: 1;
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

pre{
  width: 100%;
}


