@import './_variables.scss';


.default-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 415px;
  margin: 5px;
  line-height: 1.2;
  font-size: 28px;
  font-weight: 600;
}
