@import './_variables.scss';


.nav {
  width: 260px;
  margin-right: 40px;
  float: left;

  h1{
    text-align: right;
  }

  ul {
    list-style: none;
    background-color: $white;
    font-size: 18px;
    max-height: calc(100vh - 73px);
    overflow: auto;
    text-align: right;
  }

  li {
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    height: 40px;
  }

  a {
    text-decoration: none;
    color: $darker-gray;
    display: block;
    transition: .3s background-color;
    font-size: 16px;   
    padding: 5px 20px 5px 0;
    margin: 0 4px 0 0;
  }

  .active {   
    border-right: 2px solid $red;
    font-weight: 400;
   }

  h5 {
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 23px;
    color: $red;
  }
}
