$height: rem(32px);
$horizontal-padding: spacing(tighter) * 1.5;
$maxWidth:rem(490px);

$min-height: control-height();
$vertical-padding: ($min-height - line-height(body) - rem(2px)) / 2;

.Chip {
    display: inline-flex;
    color: rgba(0, 0, 0, 0.54);
    line-height: $height;
    height: $height;
    min-width: $height;
    margin: 0;
    padding: 0 $horizontal-padding 0 0;
    align-items: center;
    border: none;
    border-radius: $height / 2;
    background-color: rgba(153, 153, 153, 0.2);
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    max-width: $maxWidth;

    .chipButtonContent {
        color: rgba(0,0,0,.54);
        fill: rgba(0,0,0,.54);
        padding: 0px;
        min-width: auto;
        min-height: auto;
        margin:0px;
        display: inline-block;
         vertical-align: middle;
        position: relative;
        padding-left: .5rem;
        &:hover {
            color: rgba(0, 0, 0, 0.54);
            fill: rgba(0, 0, 0, 0.54);
        }
    }
    .chipIcon {
        color: rgba(0,0,0,.54);
        fill: rgba(0,0,0,.54);
        padding: 0px;
        min-width: auto;
        min-height: auto;
        margin:0px;
        vertical-align: middle;
        &:hover {
            color: rgba(0, 0, 0, 0.54);
            fill: rgba(0, 0, 0, 0.54);
        }
    }
}

:focus {
    /* Not removing directly, its possible that we might need this in future */
    // box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
    outline: 0;
}

.hidden {
  overflow: hidden;
  width: .01px;
  position: absolute;
}

.Image {
    flex-shrink: 0;
    margin: 0 ($height / 4) 0 -.6rem;
    height: $height;
    width: $height;
    border-radius: 50%; 
    display: inline-block;  
    vertical-align: middle;
}

body .Remove {
    display: flex;
    height: $height;
    align-items: center;
    justify-content: center;
    border-left: 2px solid #f4f6f8;
    border-radius: 0px;
    margin-left: .5rem;
    padding-left: .2rem;
    padding-right: .5rem;
    color: rgba(0, 0, 0, 0.54);
    fill: rgba(0, 0, 0, 0.54);
    &:hover {
        color: rgba(0, 0, 0, 0.54);
        fill: rgba(0, 0, 0, 0.54); 
        border-left: 2px solid #f4f6f8;
    }
}

.transparent{
    background-color: transparent;
}

.chipContent {
  @include text-style-input;
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  span {
      display: inline-block;
      vertical-align: middle;
      &:empty {
          display: none;
      }
  }
}

.chipContent {
    button + button {
        padding:0px;
        margin:0px!important;
    }
}
.ChipLabel {
    @include text-style-input;
}