@import '../../styles/foundation/colors.scss';

$table-vertical-spacing: spacing(base);
$table-horizontal-spacing: spacing(tightest);
$table-vertical-head-spacing: spacing(tighter);

$color-grey-dark: color(ink, base);
$color-grey-base: color(sky, base);

$border-color: color(sky, base);

.table {
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  width: 100%;
  
  .table {
    width: calc(100% - 29px);
  }

  th, td {
    border: none;
    border-radius: 2px;
    display: table-cell;
    padding: $table-vertical-head-spacing $table-horizontal-spacing;
    vertical-align: middle;
    white-space: nowrap; 
    text-overflow: ellipsis;
    text-align: left;

    .tableDataWrap {
      display: inline-block;
      width: inherit;
      white-space: break-spaces;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &.tableDataClick {
      cursor: pointer;
      span {
        display: inline-block;
      }
    }
  }

  th {
    background-color: #f4f6f8;
    color: $color-grey-dark;
  }

  thead {
    border-bottom: 1px solid $border-color;
    color: $color-grey-base;
  }

  tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    &:after {
      clear:both;
      content:'';
      display: block;
    }
  }

  &.nestedTable {
    margin-left: 29px;
    border-left: 3px solid $border-color;

    tr:last-child {
      border-bottom: none;
    }
  }

  .nestedCheckbox {
    padding-left: 10px;
    padding-right: 16px;
    width: 20px;
  }
}

.parentChildTable {
  margin-left: 29px;
  border-left: 3px solid $border-color;
}

.bordered {
  > thead > tr, > tbody > tr {
    border-bottom: 1px solid $border-color;
  }
}

.striped {
  > tbody {
    > tr {
      &:nth-child(odd) {
        background-color: #f2f2f2;
      }
      
      > td {
        border-radius: 0;
      }
    }
  }
}

.highlight {
  > tbody > tr {
    -webkit-transition: background-color .25s ease;
    transition: background-color .25s ease;

    &:hover {
      background-color: #f2f2f2;
    }
  }
}

.sortingHeader {
  display: flex
}

.sortIcon {
  display: flex;
  flex-direction: column;

  .iconStyle, .iconGroupStyle {
    width: 1.7rem;
    height: 1.7rem;
  }

  .iconStyle {
    position: relative;
    top: 3px;
  }

  .iconGroupStyle {
    width: 1.7rem;
    height: 1.7rem;

    &:last-child {
      margin-top: -1.2rem;
    }
  }
}

.searchField {
  input[type="text"] {
    position: relative;
    display: block;
    width: 1%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: $color-grey-dark;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-bottom: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
}

.fieldGroup {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.fieldGroupAddon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rowActionButton {
  background: transparent !important;
  border: none !important;
  min-height: auto;
  padding: 0;
}

.bannerRow {
  padding: 0px !important;
}

@media screen and (max-width: 40em) {

    .table {
        border: 0;
    }

    .table thead {
        display: none;
    }

    .table tr,
    .table td {
        display: block;
    }

    .table tr {
        margin-bottom: 0.5em;
    }

    .table td {
        border-bottom: none;
        text-align: left;
    }

    .table td:last-child {
        border-bottom: 0;
        text-align: left;
    }

    .table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        width:92px;
    }
    .table td.lastData {
      text-align:center;
      float:none!important;
      display: flex;
      .PositionedOverlay {
        margin-left:0px!important
      }
    }
}
