.table {
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  width: 100%;

  th, td {
    border: none;
    border-radius: 2px;
    display: table-cell;
    padding: 0;
    vertical-align: middle;
    white-space: nowrap; 
    text-overflow: ellipsis;
    text-align: left;
  }

  thead {
    border-bottom: 1px solid #d0d0d0;
  }

  tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }

  &.nestedTable {
    margin-left: 29px;
    border-left: 3px solid #eceeef;

    tr:last-child {
      border-bottom: none;
    }
  }

  .nestedCheckbox {
    padding-left: 10px;
    padding-right: 16px;
    width: 20px;
  }
}

.parentChildTable {
  margin-left: 29px;
  border-left: 3px solid #eceeef;
}

.bordered {
  > thead > tr, > tbody > tr {
    border-bottom: 1px solid #d0d0d0;
  }
}

.striped {
  > tbody {
    > tr {
      &:nth-child(odd) {
        background-color: #f2f2f2;
      }
      
      > td {
        border-radius: 0;
      }
    }
  }
}

.highlight {
  > tbody > tr {
    -webkit-transition: background-color .25s ease;
    transition: background-color .25s ease;

    &:hover {
      background-color: #f2f2f2;
    }
  }
}

.searchField {
  input[type="text"] {
    position: relative;
    display: block;
    width: 1%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-bottom: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
}

.fieldGroup {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.fieldGroupAddon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 40em) {

    .table {
        border: 0;
    }

    .table thead {
        display: none;
    }

    .table tr,
    .table td {
        display: block;
    }

    .table tr {
        margin-bottom: 0.5em;
    }

    .table td {
        border-bottom: 1px dotted #ccc;
        text-align: center;
    }

    .table td:last-child {
        border-bottom: 0;
        text-align: left;
    }

    .table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }
}
