$dropdown-item-padding-y: 1rem !default;
$dropdown-item-padding-x: 1.6rem !default;

@mixin floatRight($top, $right) {
  position: absolute;
  right: $right;
  top: $top;
}

.loginButton {
  color: white !important;
  font-size: 1.6rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  @include floatRight(2rem, 2rem)
}

.loginUser {
  border-radius: 50% !important;
  padding:0px;
}

.profilePic {
  @extend .loginUser;
  height: 3.2rem;
  width: 3.2rem;
}

.signOut {
  color: theme-color(m-grey, 900) !important;
  position: relative;
  z-index: 20;
  display:block;
  margin: (-$dropdown-item-padding-y) (-$dropdown-item-padding-x);
  padding: $dropdown-item-padding-y $dropdown-item-padding-x;
}

.loginContainer {
 // @include floatRight(8px, 12px);
  justify-content: flex-end;
  margin-left: auto;
}
