@import 'foundation/border-radius';
@import 'foundation/colors';
@import 'shared/breakpoints';

$small-size: 3.2rem;
$medium-size: 4rem;
$large-size: 6rem;

.avatar {
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background: color(teal);
  border-radius: 50%;
  user-select: none;
}

.sizeSmall {
  height: $small-size;
  width: $small-size;
  font-size: 1.4rem;
}

.sizeMedium {
  height: $medium-size;
  width: $medium-size;
  font-size: 1.8rem;
}

.sizeLarge {
  height: $large-size;
  width: $large-size;
  font-size: 2.6rem;
}

.styleOne {
  background: color(teal);
}

.styleTwo {
  background: color(red);
}

.styleThree {
  background: color(orange);
}

.styleFour {
  background: color(green);
}

.styleFive {
  background: color(blue);
}

.styleSix {
  background: color(purple);
}

.hasImage {
  background: transparent;
}

.image {
  width: 100%;
}

.initials {
  line-height: 0;
  color: color(white);
  text-transform: uppercase;
}
