* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;  
}

p {
  margin-top: 2px;
}

.bodyClass {  
  padding: 10px;
}

.menuClass {
  position: absolute;
  height: 100%;
  z-index: 2;
  background-color: #333;
  padding: 15px;
  color: #777;  
}

.menuClose {
  top: 0px;
  float: right;
  cursor: pointer;
}

.menuOverlay {
  touch-action: none;  
  opacity: 1;
  background: rgba(0,0,0,0.1);  
  z-index: 1;
}

