* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;  
}

p {
  margin-top: 2px;
}

.bodyClass {  
  padding: 10px;
}

.menuClass {
  position: absolute;
  height: 100%;
  z-index: 12;
  background-color: #333;
  padding: 15px;
  color: #777;
}
