
$arrow-size: rem(14px);
$visible-portion-of-arrow: rem(5px);
$content-max-height: rem(295px);
$content-max-width: rem(400px);

$white: #fff !default;
$black: #000 !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-600: #6c757d !default;
$gray-900: #212529 !default;
$tooltip-link-hover-color: #2eb5e2 !default;
$border-radius: .25rem !default;
$border-width: 1px !default;
$component-active-color: #add8e6 !default;
$enable-gradients: false !default;
$component-active-bg: theme-color("primary") !default;
$tooltip-min-width: 10rem !default;
$tooltip-padding-y: .5rem !default;
$tooltip-spacer: .125rem !default;
$tooltip-bg: $white !default;
$tooltip-border-color: rgba($black, .15) !default;
$tooltip-border-radius: $border-radius !default;
$tooltip-border-width: $border-width !default;
$tooltip-divider-bg: $gray-200 !default;
$tooltip-box-shadow: 0 .5rem 1rem rgba($black, .175) !default;
$tooltip-link-color: $gray-900 !default;
$tooltip-link-hover-color: darken($gray-900, 5%) !default;
$tooltip-link-hover-bg: $gray-100 !default;
$tooltip-link-active-color: $component-active-color !default;
$tooltip-link-active-bg: $component-active-bg !default;
$tooltip-link-disabled-color: $gray-600 !default;
$tooltip-item-padding-y: .25rem !default;
$tooltip-item-padding-x: 1.5rem !default;
$tooltip-header-color: $gray-600 !default;
$zindex-tooltip: 1000 !default;
$font-size-base: 1rem !default;
$font-size-sm: ($font-size-base * .875) !default;
$body-color: #212529 !default;
$font-weight-normal: 400 !default;

@mixin gradient-bg($color) {
  @if $enable-gradients {
    background: $color linear-gradient(180deg, mix($body-bg, $color, 15%), $color) repeat-x;
  } @else {
    background-color: $color;
  }
}

.tooltip {
  margin: $visible-portion-of-arrow spacing() spacing();
  opacity: 1;
  box-shadow: shadow(deep);
  border-radius: border-radius();
  pointer-events: none;
  will-change: opacity, left, top;
  transition: opacity duration() easing(in);
}

.measuring {
  opacity: 0;
}

.positionedAbove {
  margin: spacing() spacing() $visible-portion-of-arrow;

  .tip {
    top: inherit;
    bottom: 0;
  }
}

.popup,
.popright,
.popdown,
.popleft {
  position: relative;
  @include text-style-body;
}

.popright {
  .tooltipContainer {
    &::before, &::after {
      right: 100%;
	    top: 10%;
    }

    &::after {
      border-right-color: #fff;
      margin-top: -8px;
    }

    &::before {
      border-right-color: $tooltip-border-color;
      margin-top: -9px;
    }
  }
}

.popleft {
  .tooltipContainer {
    &::before, &::after {
      left: 100%;
	    top: 10%;
    }

    &::after {
      border-left-color: #fff;
      margin-top: -8px;
    }

    &::before {
      border-color: rgba(0, 0, 0, 0);
      border-left-color: $tooltip-border-color;
      margin-top: -9px;
    }
  }
}

.popdown {
  .tooltipContainer {
    &::before, &::after {
      bottom: 100%;
      left: 50%;
    }

    &::after {
      border-bottom-color: #fff;
      margin-left: -8px;
    }

    &::before {
      border-color: rgba(0, 0, 0, 0);
      border-bottom-color: $tooltip-border-color;
      margin-left: -9px;
    }
  }
}

.popup {
  .tooltipContainer {
    &::before, &::after {
      top: 100%;
	    left: 50%;
    }

    &::after {
      border-top-color: #fff;
      margin-left: -8px;
    }

    &::before {
      border-color: rgba(0, 0, 0, 0);
      border-top-color: $tooltip-border-color;
      margin-left: -9px;
    }
  }
}

.light {
  .wrapper {
    background: color(white);
    color: color(ink);
  }

  .tip {
    background: color(white);
  }
}

.wrapper {
  position: relative;
  display: flex;
  background-color: color(ink);
  border-radius: border-radius();
  color: color(white);
  max-height: $content-max-height;
}

.content {
  position: relative;
  margin-top: spacing(extra-tight);
  border-radius: border-radius();
  max-width: $content-max-width;
  max-height: $content-max-height;
}

.tip {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  height: $arrow-size;
  width: $arrow-size;
  background: color(ink);
  box-shadow: shadow(deep);
}

.label {
  padding: 0 spacing(tight) spacing(extra-tight);
}


.tooltipContainer {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: $zindex-tooltip;
  display: none;
  float: left;
  min-width: $tooltip-min-width;
  padding: $tooltip-padding-y 0;
  margin: $tooltip-spacer 0 0; 
  font-size: $font-size-base; 
  color: $body-color;
  text-align: left; 
  list-style: none;
  background-color: $tooltip-bg;
  background-clip: padding-box;
  border: $tooltip-border-width solid $tooltip-border-color;

  &::before, &::after {
    content: '';
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &::after {
    border-color: rgba(232, 232, 232, 0);
    border-width: 8px;
  }

  &::before {
    border-width: 9px;
  }

  .box {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    height: 1.4rem;
    width: 1.4rem;
    background: $tooltip-bg;
    border-top-left-radius: 3px;
    box-shadow: 0 0 0 1px rgba(6,44,82,.1), 0 2px 16px rgba(33,43,54,.08);
    z-index: $zindex-tooltip - 10;
  }
}

.tooltipContainer {
  &[x-placement^="top"],
  &[x-placement^="right"],
  &[x-placement^="bottom"],
  &[x-placement^="left"] {
    right: auto;
    bottom: auto;
    margin-top: 10px;
  }

  &.active,
  &:active {
    display: block;
  }
}