@import 'foundation/spacing';
@import 'foundation/utilities';
@import 'shared/accessibility';
@import 'shared/icons';
@import 'shared/typography';

$control-size: 1.6rem;

// Need to push the control down just a little to have it appear
// vertically centered with the label.
$control-vertical-adjustment: 0.2rem;

// Negative margin on the left compensates for the icon being inset
// within its viewbox.
$icon-horizontal-adjustment: 0.2rem;

.choice {
  display: inline-flex;
  align-items: flex-start;
  padding: spacing(tightest) 0;
  position: relative;
  z-index: 20;
  margin-bottom: 0px;
}

.labelHidden {
  padding: 0;

  > .label {
    @include visually-hidden;
  }

  .control {
    margin-top: 0;
    margin-right: 0;
  }
}

.disabled {
  > .Label {
    color: color('ink', 'lightest');
  }
}

.control {
  display: flex;
  flex: 0 0 auto;
  align-items: stretch;
  height: $control-size;
  width: $control-size;
  margin-top: $control-vertical-adjustment;
  margin-right: spacing(tighter);

  > * {
    width: 100%;
  }
}

.label {
  @include text-style-body;
  flex: 1 1 0%;
  -webkit-tap-highlight-color: transparent;
}

.descriptions {
  padding-left: spacing(tighter) + $control-size;
  position: relative;
}

.helpText {
  @include text-style-body;
  @include text-emphasis-subdued;
  margin-bottom: spacing(tightest);
  font-size: 1.3rem !important;
  line-height: 1.6rem !important;
}

.error {
  display: flex;
  margin-bottom: spacing(tightest);
  color: color(red, dark);
}

.errorIcon {
  @include recolor-icon(color(red));
  margin: 0 spacing(tightest) 0 (-1 * $icon-horizontal-adjustment);
}
.markWrapper{
  padding-left: .4rem;
  min-width: .9rem;
  min-height: .9rem;
  max-width: .9rem;
  max-height: .9rem;
}
.mark{
  min-width: .9rem;
  min-height: .9rem;
  max-width: .9rem;
  max-height: .9rem;
  fill:#D50000;
  margin-top: 3.5px;
}
.errorIconStyle{
  fill: #D50000;
  position:relative;
  width: 1.6rem;
  height: 1.6rem;
  min-width: 1.6rem;
  min-height: 1.6rem;
  &:hover{
    cursor: pointer;
  }
}

.tooltip {
  padding: .6rem .8rem;
  background-color: #263238;
  border-radius: .3rem;
  color: #fff;
  font-size: 1.3rem;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  max-width: 25rem;
  min-width: 10rem;
  min-height: 3.2rem;
  position: absolute;
  z-index: 99;
  right: 0;
  margin-right: -1rem;
  bottom: calc(100% + .8rem)
}

.tip {
  width: 1rem;
  height: 1rem;
  background: #263238;
  transform: rotate(45deg);
  margin-bottom: .5rem;
  position: absolute;
  top: calc(100% - .5rem);
  right: 0;
  margin-right: 1.3rem;
  z-index: 55;
}
