@import 'foundation/spacing';
@import 'foundation/utilities';
@import 'shared/accessibility';
@import 'shared/icons';
@import 'shared/typography';

$control-size: rem(16px);

// Need to push the control down just a little to have it appear
// vertically centered with the label.
$control-vertical-adjustment: 2px;

// Negative margin on the left compensates for the icon being inset
// within its viewbox.
$icon-horizontal-adjustment: 2px;

.choice {
  display: flex;
  align-items: flex-start;
  padding: spacing(tightest) 0;
}

.labelHidden {
  padding: 0;

  > .label {
    @include visually-hidden;
  }

  .control {
    margin-top: 0;
    margin-right: 0;
  }
}

.disabled {
  > .Label {
    color: color('ink', 'lightest');
  }
}

.control {
  display: flex;
  flex: 0 0 auto;
  align-items: stretch;
  height: $control-size;
  width: $control-size;
  margin-top: $control-vertical-adjustment;
  margin-right: spacing(tighter);

  > * {
    width: 100%;
  }
}

.label {
  @include text-style-body;
  flex: 1 1 0%;
  -webkit-tap-highlight-color: transparent;
}

.descriptions {
  padding-left: spacing(tighter) + $control-size;
}

.helpText {
  @include text-style-body;
  @include text-emphasis-subdued;
  margin-bottom: spacing(tightest);
}

.error {
  display: flex;
  margin-bottom: spacing(tightest);
  color: color(red, dark);
}

.errorIcon {
  @include recolor-icon(color(red));
  margin: 0 spacing(tightest) 0 (-1 * $icon-horizontal-adjustment);
}
