@import 'foundation/spacing';
@import 'shared/typography';

$breakpoint: 550px;
.descriptionList {
  margin:0;
  padding:0; 

  @include page-content-breakpoint-after($breakpoint) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

.term {
  @include text-emphasis-strong;
  padding: spacing() 0 spacing(tighter);

  @include page-content-breakpoint-after($breakpoint) {
    flex: 0 1 25%;
    padding: spacing() spacing() spacing() 0;

    .description + & + .description {
      border-top: border();
    }
  }
}

.description {
  margin-left: 0;
  padding: 0 0 spacing();

  + .term {
    border-top: border();
  }

  @include page-content-breakpoint-after($breakpoint) {
    flex: 1 1 51%;
    padding: spacing() 0;

    + .term + .description {
      border-top: border();
    }
  }
}

.naked {
  list-style-type: none;
}

.description-list-divider>dt:nth-child(n+2) {
  margin-top:20px;
  padding-top:20px;
  border-top:1px solid #e5e5e5
 }
