
@mixin font-size {
  font-size: font-size(caption);
  font-weight: font-weight(bold);
}
.accordionItem {
  transition: height 0.3s ease-in-out 0s;
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
  background: #fff;
  margin: 12px!important;
  border-radius: 2px;
  width: calc(100% - 24px);
}

.accordionItem { 
  > .header {
    width: 100%;
    font-size: font-size(caption);
    font-weight: font-weight(bold);
    padding: 10px 12px;
    position: relative;
    &:after {
      content: '\f107';
      font-family: FontAwesome;
      font-size: 15px;
      position: absolute;
      right: 13px;
      top: 50%;
      opacity: .8;
      transition: all .2s ease-in-out;
      transform: translateY(-50%) rotate(0deg);
    }
      .active {
        &:after {
          transform: translateY(-50%) rotate(180deg);
        }
    }
  }
  > .body {
    padding: 10px;
    opacity: 1;
    overflow-y: hidden;
    overflow-x: auto;
    transition: all 0.2s;
  }
  > .bodyCollapsed {
    height: 0;
    opacity: 0;
    transition: all 0.2s;
  }
}

.accordionItem label {
  margin-bottom: 0
}