$label-horizontal-spacing: spacing(tighter) * 1.5;

$stacking-order: (
  // TODO : previously it was 25. but input and select component have z-index of 20. so it was creating issue on click at component
  label: 19,
);


.labelWrapper {
  margin-bottom: 0;
  margin-left: $label-horizontal-spacing;
  position: absolute;
  z-index: z-index(label, $stacking-order);
  transform: translate3D(0, 1.2rem, 0);
  transition: all .2s ease-out;
  backface-visibility: hidden;

  &.focused,
  &:not(.empty) {
    transform: translate3D(0, 0.1rem, 0);
  }

}

.helpText {
  @include text-style-body-small;
  color: theme-color(m-grey, 700);
  margin-top: 0.3rem;

  &.disabled {
    color: theme-color(m-grey, 500);
  }
}

// .required {}

// .focused {}

// .invalid {}

// .empty {}