$label-horizontal-spacing: spacing(tight) * 1.5;

$stacking-order: (
  label: 40,
);


.labelWrapper {
  margin-bottom: 0;
  margin-left: $label-horizontal-spacing;
  position: absolute;
  z-index: z-index(label, $stacking-order);
  // z-index: 2 !important;
  transform: translate3D(0, calc(1.1rem + 3px), 0);
  transition: all .2s ease-out;
  backface-visibility: hidden;
//.required {}

  &.focused,
  &:not(.empty) {
    transform: translate3D(0,0.2rem,0);
  }

//.invalid {}

}

//.HelpText {}