$control-height: rem(64px);
$control-vertical-padding: (($control-height - line-height(input) - rem(2px)) / 2);
$backdrop-horizontal-spacing: spacing(tight) * 1.5;
$spinner-size: rem(20px);


.containerWrapper {

  &.focused {
    padding-top: calc((#{$control-vertical-padding} * 2 ) - 0.3rem ) ;
    padding-bottom: 0.3rem;

    ~ .spinnerWrapper {
      top: calc(( 2.4rem - #{$spinner-size} ) / 2 + 1.9rem );
    }

    ~ .backdrop {
      border-color: theme-color(m-blue, 300);
      box-shadow: 0 0 0 1px theme-color(m-blue, 300);
    }

  }

}

.input {
  @include text-style-input;
  height: auto;
  min-height: control-height();
  padding: control-vertical-padding() 0;
  transition: 0.3s all ease;

  &:disabled {
    color: theme-color(m-grey, 700);
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &::placeholder {
    color: theme-color(m-grey, 500);
    // text-align: start;
  }

}

.containerWrapper {
  &.empty {
    .input {
      &::placeholder {
        text-align: right;
      }
    }
  }
}