@import 'foundation/borders';
@import 'foundation/border-radius';
@import 'foundation/colors';
@import 'foundation/spacing';
@import 'foundation/shadows';
@import 'foundation/utilities';
@import 'foundation/z-index';
@import 'shared/controls';
@import 'shared/icons';
@import 'shared/typography';

$stacking-order: (
  backdrop: 10,
  input: 20,
  icon: 30
);

$icon-size: rem(16px);
$input-horizontal-padding: spacing(tight) * 1.5;

// Without a small amount of vertical adjustment, the text
// in the Select does not appear vertically centered.
$input-vertical-adjust: rem(1px);


.Input {
  @include text-style-input;
  z-index: z-index(input, $stacking-order);
  min-height: control-height();
  padding: control-vertical-padding() ($input-horizontal-padding + $icon-size) control-vertical-padding() $input-horizontal-padding;
  line-height: rem(20px);

  &:focus {

    ~ .Backdrop {
      @include control-backdrop(focused);
    }
  }

  &:disabled {
    color: color(ink, lightest);
  }
}
