$small-size: rem(20px);
$large-size: rem(44px);

@mixin spinnerSize($size) {
  height: $size;
  width: $size;
}

.sizeSmall {
  @include spinnerSize($small-size);
}

.sizeLarge {
  @include spinnerSize($large-size);
}

.colorReverse {
  fill: theme-color(white);
}

.colorNormal {
  fill: theme-color(m-blue-grey, 700);
}

.colorDisabled {
  fill: theme-color(m-grey, 500);
}
