@import './foundation/borders';
@import './foundation/border-radius';
@import './foundation/duration';
@import './foundation/easing';
@import './foundation/spacing';
@import './foundation/utilities';
@import './foundation/z-index';
@import './foundation/easing';
@import './foundation/duration';
@import './shared/controls';
@import './shared/typography';

$backdrop-horizontal-spacing: spacing(tight) * 1.5;
$addon-horizontal-spacing: 0.25em;
$spinner-icon-size: rem(12px);

// Component
// ========================================================================

@mixin hook-textfield(){
  padding: 0 $backdrop-horizontal-spacing;
}

@mixin hook-textfield-input(){
  padding-left: $backdrop-horizontal-spacing;
  padding-right: $backdrop-horizontal-spacing;
}


// Input
// ========================================================================

// @mixin hook-input(){}

// @mixin hook-input-hasvalue(){}

// @mixin hook-input-error(){}

// @mixin hook-input-disabled(){}


// Placeholder
// ========================================================================

// @mixin hook-placeholder(){}

// @mixin hook-placeholder-error(){}


// Backdrop
// ========================================================================

// @mixin hook-backdrop(){}

// @mixin hook-backdrop-focus(){}

// @mixin hook-backdrop-readonly(){}

// @mixin hook-backdrop-disabled(){}

@mixin hook-backdrop-error(){
  background-color: theme-color(error, lighter);
  border-color: theme-color(error);
}

// @mixin hook-backdrop-error-focused(){}


// Misc
// ========================================================================

@mixin hook-spinner-icon(){
  height: $spinner-icon-size;
  width: $spinner-icon-size;
}


@import '../../../src/components/TextField/TextField.scss';