$stacking-order: (
  overlay: 100,
);
  
  
  .stickyStyle {
    position: sticky;
    left: 0;
    width: 100%;
    z-index: z-index(overlay, $stacking-order);
  }

  .headerSticky {
    top: 0;
  }

  .footerSticky {
    bottom: 0;
  }
  .footerInline {
    z-index: auto!important;
  }
  .footerFixed, .footerAuto  {
    z-index: z-index(overlay, $stacking-order);
  }
